<app-header></app-header>
<div class="container mb-5">
    <h4 class="mb-3 fondTitre">Condition d’utilisation</h4>
    <p>Bienvenue sur notre application de covoiturage, conçue pour rendre vos déplacements plus simples et efficaces. Les
    présentes conditions d'utilisation énoncent les règles et obligations qui régissent votre utilisation de notre service.
    En utilisant notre application, vous acceptez ces conditions. Nous vous encourageons à les lire attentivement pour
    assurer une utilisation mutuellement bénéfique de notre plateforme.</p>

    <p class="para">1. Utilisation du Service:</p>
    <ul>
        <li>Vous devez avoir l'âge légal pour utiliser notre service.</li>
        <li>Vous acceptez de nous informer immédiatement de toute utilisation non autorisée de votre compte.</li>
    </ul>

    <p class="para">2. Compte Utilisateur :</p>
    <ul>
        <li>Vous êtes responsable de la confidentialité de votre compte et de vos informations de connexion.</li>
        <li>Les informations peuvent être utilisées pour personnaliser votre expérience, améliorer nos services, et vous
            informer
            des mises à jour importantes.</li>
    </ul>
    <p class="para">3.Contenu Utilisateur:</p>
    <ul>
        <li>Vous êtes responsable du contenu que vous publiez sur notre plateforme.</li>
        <li>Nous nous réservons le droit de supprimer tout contenu jugé inapproprié ou en violation de nos règles.</li>
    </ul>
    <p class="para">4. Droits de Propriété Intellectuelle</p>
    <ul>
        <li>Vous conservez les droits de propriété intellectuelle sur le contenu que vous téléchargez, mais vous nous accordez une
        licence pour utiliser, afficher et distribuer ce contenu sur notre plateforme.</li>
    </ul>
    <p class="para">5. Limitation de Responsabilité</p>
    <ul>
        <li>Nous ne sommes pas responsables des dommages directs, indirects, spéciaux, consécutifs ou exemplaires résultant de
        l'utilisation de notre service.</li>
    </ul>
    <p class="para">6. Modification des Conditions:</p>
    <ul>
        <li>Nous pouvons mettre à jour ces conditions d'utilisation. Les modifications seront publiées sur cette page avec une date
        de mise à jour.</li>
    </ul>
</div>
<app-footer></app-footer>

