<footer>
    <div class="footer-container">
        <div class="section-footer">
            <div class="Section_Footer_logo">
                <img src="../../../assets/logo1.png" alt="logo" width="255px" height="68px">
                <div class="contain-social-media d-flex">
                    <div class="icone-social" style="background-color:#FA7436;">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div class="icone-social">
                        <i class="bi bi-twitter"></i>
                    </div>
                    <div class="icone-social">
                        <i class="bi bi-facebook"></i>
                    </div>
                    <div class="icone-social">
                        <i class="bi bi-youtube"></i>
                    </div>
                </div>
            </div>
            <div>
                <h3>Pages</h3>
                <p><a class="nav-link" routerLinkActive="active" [routerLink]="['/publierTrajet']">Publier un trajet</a></p>
                <p><a class="nav-link" routerLinkActive="active" [routerLink]="['/reserverTrajet']">Reserver un trajet</a></p>
                <p><a class="nav-link" routerLinkActive="active" [routerLink]="['/mesTrajets']">Mes trajets</a></p>
                <p><a class="nav-link" routerLinkActive="active" [routerLink]="['/faqP']">FAQ</a></p>
            </div>
            <div class="section-contact">
                <h3>Lien Utiles</h3>
                <p><a class="nav-link" routerLinkActive="active" [routerLink]="['/conf']">Politique de confidentialité</a></p>
                <p><a class="nav-link" routerLinkActive="active" [routerLink]="['/utilisation']">Condition d’utilisation</a></p>
            </div>
            <div>
                <h3>Newsletter</h3>
                <form action="" id="formInput">
                    <input class="form-control input-newsletter" type="text" name="email" [(ngModel)]="email" placeholder="Enter your mail" id="Email">
                    <p *ngIf="error" style="color: red;">{{error.email}}</p>
                    <button class="btn btnAjout mt-2" (click)="ajouterNews()">Suscribe</button>
                </form>
            </div>
        </div>
        <hr>
        <p class="text-center">© Copyright 2024</p>
    </div>
</footer>
