.banniere img {
    width: 100%;
    height: 35rem;
}

h3 {
    color: #FA7436;
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}

h5 {
    color: #444;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-align: center;
}

.btnSeach {
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.mestrajets,
.reservation,
.historique {
    border-radius: 10px;
}

.historique button {
    background: #FA7436;
    color: #FFF !important;
    width: 160px;
}

.reservation,
.mestrajets button {
    border: 1px solid #FA7436;
    background: #FFF;
    color: #FA7436;
    width: 160px;
}

.reservation button {
    color: #FA7436;
    width: 160px;
}

.rechercheArticles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.rechercheArticles .nbrArticles {
    font-family: popins;
    font-size: 24px;
    font-weight: bold;
    color: #FA7436;
}

.rechercheArticles .zoneArticles {
    display: flex;
}

.rechercheArticles .zoneArticles .champRecherche input {
    padding: 5px;
    border-radius: none !important;
}

.rechercheArticles .zoneArticles .btnRecherche button {
    background-color: #FA7436;
    border: none;
    color: #fff;
}

.btnRecherche button {
    padding: 6px 18px;
}

.champRecherche input {
    border: thin solid #FA7436;
}

.cardTrajets {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.infosTrajet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
}

.trajet {
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 25px;
    padding: 15px;
}

.chauffeur {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.chauffeur p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    padding-top: 14px;
}

.trajet p {
    text-align: center;
}

.lieu,
.date {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.details,
.autreDetails {
    display: flex;
    justify-content: space-around;
}

.reserver {
    background: #FFF;
    color: #FA7436;
    display: inline-flex;
    align-items: center;
}

.gauche {
    color: #000;
    font-family: popins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.droite {
    color: #000;
    font-family: popins;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history{
    text-align: center;
}

.nbrEffectuer{
    border-radius: 0px 40px;
    border-bottom: 7px solid #FFF;
    border-left: 7px solid #FFF;
    background: #FA7436;
    color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 350px;
    height: 120px;
}
.nbrEnCours{
    border-radius: 0px 40px;
    border-top: 7px solid #FA7436;
    border-right: 7px solid #FA7436;
    background: #F7F8FC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 350px;
    height: 120px;
}
.pageActuelle {
    color: #FA7436;
}




/* resposivité */

@media(max-width:700px) {
    .banniere img {
        height: 20rem;
    }

    .searching {
        display: flex;
        flex-direction: column;
    }

    .cardTrajets {
        display: grid;
        grid-template-columns: 1fr;
    }

    .trajet {
        width: 100%;
    }

    .infosTrajet {
        display: flex;
        flex-direction: row;
    }
        .btnSeach {
            display: flex;
            flex-direction: column;
        }
}

@media only screen and (min-width: 700px) and (max-width:1100px) {
    .banniere img {
        height: 20rem;
    }

    .searching {
        display: flex;
        flex-direction: column;
    }

    .cardTrajets {
        display: grid;
        grid-template-columns: 1fr;
    }

    .trajet {
        width: 100%;
    }

    .infosTrajet {
        display: flex;
        flex-direction: row;
    }
        .btnSeach {
            display: flex;
            flex-direction: column;
        }
}