<app-header></app-header><br><br>
<div class="banniere mb-5">
    <img src="../../assets/containter.png" alt="">
</div>
<main class="container mb-5 mt-5">
    <div class="mainContainerLeft p-2">
        <div class="mainContainerLeftImage">
            <div class="image">
                <img src="http://127.0.0.1:8000/images/profils/{{userConnect.ImageProfile}}" alt="">
            </div>
        </div>
        <div class="mainContainerLeftInfo p-3">
            <h4 class="text-center p-3">Informations personnelles</h4>
            <div class="mainContainerLeftInfoDetail px-1">
                <h5 class="mb-4">Nom complet: <span>{{userConnect.Prenom}} {{userConnect.Nom}}</span></h5>
                <h5 class="mb-4">Email: <span>{{userConnect.Email}}</span></h5>
                <h5 class="mb-4">Telephone: <span>{{userConnect.Telephone}}</span></h5>
                <h5 class="mb-4">Role: <span>{{userConnect.role}}</span></h5>
            </div>
        </div>
    </div>

    <div class="mainContainerRight pt-3">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active navTabsButton" id="updateInfo-tab" data-bs-toggle="pill"
                    data-bs-target="#updateInfo" type="button" role="tab" aria-controls="updateInfo"
                    aria-selected="true" (click)="chargerInfosUsers()">Modifier Information</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link navTabsButton" id="updatePassword-tab" data-bs-toggle="pill"
                    data-bs-target="#updatePassword" type="button" role="tab" aria-controls="updatePassword"
                    aria-selected="false">Modifier Mot de passe</button>
            </li>
        </ul>

        <div class="tab-content w-100 h-100" id="pills-tabContent">
            <div class="tab-pane fade show active" id="updateInfo" role="tabpanel" aria-labelledby="updateInfo-tab"
                tabindex="0">
                <form action="" class="p-3">
                    <div class="form-floating mb-3">
                        <input type="file" class="form-control" id="file">
                        <label for="file">Image Profil</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="prenom">
                        <label for="prenom">Prénom</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="nom">
                        <label for="nom">Nom</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="telephone" name="Tel" [(ngModel)]="tel">
                        <label for="telephone">Téléphone</label>
                    </div>
                    <div *ngIf="isChauffeur">
                        <div class="form-floating mb-3">
                            <input type="file" class="form-control" id="file" >
                            <label for="file">Permis</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="file" class="form-control" id="file">
                            <label for="file">Licence</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="file" class="form-control" id="file">
                            <label for="file">Carte à grise</label>
                        </div>
                    </div>

                    <button type="submit" class="btn positionbtn" (click)=" updateProfil() ">Enregistrer</button>

                </form>
            </div>

            <div class="tab-pane fade " id="updatePassword" role="tabpanel" aria-labelledby="updatePassword-tab"
                tabindex="0">
                <form action="" class="p-3">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Ancien Mot de Passe</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Nouveau Mot de Passe</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Confirmation du Mot de Passe</label>
                    </div>

                    <button type="submit" class="btn positionbtn">Enregistrer</button>
                </form>

            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>