<app-header></app-header><br><br>
<div class="banniere mb-5">
    <img src="../../assets/containter.png" alt="">
</div>
<div class="sectionBtnSearch mb-5">
    <h3 class="mb-5">Faite le suivi de vos trajet en toute simplicité</h3>
    <div class="btnSeach container mx-auto">
        <div class="mestrajets">
            <button class="btn" [routerLink]="['/mesTrajets']">Mes Tajets</button>
        </div>
        <div class="reservation">
            <button class="btn" [routerLink]="['/reservation']">Reservations</button>
        </div>
        <div class="historique">
            <button class="btn" [routerLink]="['/historique']">Historiques</button>
        </div>
    </div>
</div>
<div class="history container mb-5">
    <div class="bntHistory mb-5">
        <button class="btn nbrEffectuer me-5 " [routerLink]="['/historique']">Nombre de trajet effectuer</button>
        <button class="btn nbrEnCours " [routerLink]="['/enCours']">Nombre de trajet encours</button>
    </div>
    <h4>Listes des trajets encours</h4>
</div>
<div class="rechercheArticles mb-5 container">
    <div class="nbrArticles">
        <p>6 trajets</p>
    </div>
    <div class="zoneArticles">
        <div class="champRecherche">
            <input type="search" name="" id="searchInput" placeholder="Recherche un trajet">
        </div>
        <div class="btnRecherche">
            <button><i class="bi bi-search"></i></button>
        </div>
    </div>
</div>
<div class="cardTrajets mb-5 container">
    <div class="trajet" *ngFor="let trajet of getItemsPage()">
        <ng-container *ngIf="trajet.prenom=='Astou' && trajet.nom=='Diouf' && trajet.etat=='en cours'">
    
            <div class="chauffeur">
                <img [src]="trajet.profil" alt="" class="rounded-circle" style="height: 130px; width: 130px;">
                <p> {{trajet.prenom}} {{trajet.nom}}</p>
            </div>
            <hr>
            <div class="infosTrajet">
                <div class="lieu">
                    <p class=" mb-1 mt-1">
                        <i class="bi bi-car-front-fill" style="color: #ff5900;"></i>
                        {{trajet.depart}}-{{trajet.arriver}}
                    </p>
                </div>
                <div class="date">
                    <p class=" mb-1 mt-1">
                        <i class="bi bi-calendar4-week" style="color: #ff5900;"></i>
                        {{trajet.date}}-{{trajet.heure}}
                    </p>
                </div>
            </div>
            <hr>
            <div class="details mb-3">
                <span class="gauche">{{trajet.prix}} FCA</span>
                <span class="droite"><i class="bi bi-people-fill"></i> {{trajet.place}} places disponibles</span>
            </div>
            <div class="autreDetails">
                <span>Voir profil <i class="bi bi-arrow-right-circle-fill"></i></span>
                <button class="btn reserver">Détails</button>
            </div>
        </ng-container>
    </div>
</div>
<!-- Pagination  -->
<div class="pagination mb-5" *ngIf="getItemsPage().length">
    <div class="d-flex justify-content-end mb-2">
        <button class="rounded-2 btnColor  mx-2" [disabled]="pageActuelle === 1"
            (click)="pageActuelle = pageActuelle - 1">
            <i class="bi bi-arrow-left-circle-fill me-2"></i>
        </button>
        <button class=" mx-2 page" *ngFor="let page of pages" (click)="pageActuelle = page">
            <span class="pageActuelle fs-5" *ngIf="page===pageActuelle">{{page}}</span>
            <span *ngIf="page != pageActuelle">{{page}}</span>
            <!-- {{ page }} -->
        </button>
        <button class="rounded-2 btnColor mx-2" [disabled]="pageActuelle === totalPages"
            (click)="pageActuelle = pageActuelle + 1">
            <i class="bi bi-arrow-right-circle-fill"></i>
        </button>
    </div>
</div>
<app-footer></app-footer>