.statistiqueDashbord{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 8px;
}
.navbar {
   max-width: 100%;
}

/* resposivité */
@media(max-width:700px) {
   .statistiqueDashbord{
   display: grid;
   grid-template-columns: 1fr ;
   }
   nav{
      display: none!important;
   }
}

@media only screen and (min-width: 700px) and (max-width:1100px) {
.statistiqueDashbord {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
   nav{
      display: none!important;
   }
}