<!-- Navbar  -->
<div class="navbar mb-5 px-5 shadow-sm sticky-top bg-body">
    <div>
        <h5>Administrateur</h5>
    </div>
</div>

<!-- Les statistiques de l'admin systeme  -->
<div class="container mb-5">
    <!-- Les statistiques utilisateurs lignes et réseaux -->
    <div class=" statistiqueDashbord px-5">
        <!-- Utilisateurs  -->
        <div>
            <div>
                <div class=" carte">
                    <span style="background-color: #FA7436;"><i class="bi bi-person"></i></span>
                    <div class="text-wrapper-3">Utilisateurs globale</div>
                    <div class="text-wrapper-4">{{tabUsers.length}}</div>
                </div>
            </div>
        </div>

        <!-- Zone  -->
        <div>
            <div>
                <div class="carte">
                    <span style="background-color: #FFB60A;"><i class="bi bi-geo"></i></span>
                    <div class="text-wrapper-5">Nombre de zones</div>
                    <div class="text-wrapper-4">{{tabZone.length}}</div>
                </div>
            </div>
        </div>

        <!-- Client  -->
        <div>
            <div>
                <div class="carte">
                    <span style="background-color: #999999;"><i class="bi bi-person-lines-fill"></i></span>
                    <div class="text-wrapper-6">Nombre de Clients</div>
                    <div class="text-wrapper-4">{{tabClients.length}}</div>
                </div>
            </div>
        </div>

        <!-- Conducteur  -->
        <div>
            <div>
                <div class="carte">
                    <span style="background-color: #4086F4;"><i class="bi bi-car-front"></i></span>
                    <div class="text-wrapper-7">Nombre de conducteurs</div>
                    <div class="text-wrapper-4">{{tabConducteurs.length}}</div>
                </div>
            </div>
        </div>
    </div>
</div>