.banniere img {
    width: 100%;
    height: 35rem;
}

h3 {
    color: #FA7436;
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
}

h5 {
    color: #444;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.publier{
    border-radius: 5px;
    background: #FA7436;
    box-shadow: 0px 8px 16px 0px rgba(250, 116, 54, 0.24);
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sectionPourquoi{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 15px;
    /* border: 2px solid red; */
}

.zoneRigth{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    /* border: 2px solid rgb(225, 0, 255); */
}

.economie{
    /* border: 2px solid rgb(0, 255, 234); */
    border-radius: 25px 0px;
    background: #F7F8FC;
}

.economie img{
    width: 100%;
}

.partage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid rgb(152, 148, 153); */
    border-radius: 0px 25px;
    background: #F7F8FC;
}
.imagePartage{
    width: 100%;
}
.imagePartage img{
    width: 100%;
    height: 100%;
}
.co2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid rgb(13, 6, 14); */
    border-radius: 0px 25px ;
    background: #F7F8FC;
}
.imageCo2{
    width: 100%;
}
.imageCo2 img {
    width: 100%;
    height: 100%;
}
.text{
    padding: 20px;
    text-align: justify;
    color: #000;
    font-family: Poppins;
}
.text p{  
    font-size: 14px;
}
h6{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 20px;
}
.sectionTuto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.videoTuto img{
    border-radius: 25px 10px !important;
}
h4{
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.textTuto p{
    text-align: justify;
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 14px;
}

.clr{
    color: #ff5900;
}
 
@media(max-width:700px) {
    .sectionPourquoi {
        display: grid;
        grid-template-columns: 100%;
    }
    .co2 {
        display: grid;
        grid-template-columns: 1fr;

    }
    .partage {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .sectionTuto {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 700px) and (max-width:1100px) {
    .sectionPourquoi {
        display: grid;
        grid-template-columns: 100%;
    }
    .co2 {
        display: grid;
        grid-template-columns: 1fr;

    }
    .partage {
        display: grid;
        grid-template-columns: 1fr;

    }
    .sectionTuto {
        display: grid;
        grid-template-columns: 1fr;
    }
}


 /* image publicité */
 .publicitee {
     background-color: #f5f5f5;
 }

 .banner {
     display: flex;
     justify-content: center;
 }

 .banner img {
     padding: 3rem 0;
     width: 85%;
     height: 26rem;
     margin: 0 auto;
 }

 .addTrajet {
     background-color: #ff5900;
     color: #fff;
     padding: 10px 20px;
     border: none;
     border-radius: 10px;
     font-weight: 600;
     font-size: 16px;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 }

 .publicitee button {
     position: absolute;
     margin-left: 18rem;
     margin-top: -11rem !important;
 }


 @media screen and (max-width: 1400px) {
    .publicitee button {
         position: absolute;
         margin-left: 15.5rem;
         margin-top: -13.5rem;
     }
 }

 @media screen and (max-width: 406px) {
     .addTravel h3 {
         font-size: 13px;
     }
 }


 @media screen and (max-width: 1270px) {
    .publicitee button {
         position: absolute;
         margin-left: 13.5rem;
         margin-top: -13.5rem;
     }
 }

 @media screen and (max-width: 1140px) {
      .publicitee button  {
         position: absolute;
         margin-left: 11.5rem;
         margin-top: -13.5rem;
     }
 }

 @media screen and (max-width: 1024px) {
      .publicitee button  {
         position: absolute;
         margin-left: 10rem;
         margin-top: 6rem;
     }

     .addTrajet {
         background-color: #ff5900;
         color: #fff;
         padding: 7px 15px;
         border: none;
         border-radius: 10px;
         font-weight: 600;
         font-size: 14.5px;
         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     }

     .banner img {
         height: 24rem;
     }

 }

 @media screen and (max-width: 912px) {
      .publicitee button  {
         position: absolute;
         margin-left: 10rem;
         margin-top: -9rem !important;
     }

     .addTrajet {
         background-color: #ff5900;
         color: #fff;
         padding: 6px 14px;
         border: none;
         border-radius: 10px;
         font-weight: 600;
         font-size: 14px;
         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     }

     .banner img {
         height: 20.5rem;
     }

 }

 @media screen and (max-width: 910px) {
      /* .publicitee button  {
         position: absolute;
         margin-left: 9.5rem;
         margin-top: -11rem;
     } */

     .addTrajet {
         background-color: #ff5900;
         color: #fff;
         padding: 6px 14px;
         border: none;
         border-radius: 10px;
         font-weight: 600;
         font-size: 14px;
         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     }

     .banner img {
         height: 19rem;
     }

 }


 @media screen and (max-width: 869px) {
      .publicitee button  {
         position: absolute;
         margin-left: 10rem !important;
        margin-top: -7rem !important;
     }

     .addTrajet {
         background-color: #ff5900;
         color: #fff;
         padding: 5px 13px;
         border: none;
         border-radius: 10px;
         font-weight: 400;
         font-size: 12px;
         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     }

     .banner img {
         height: 17.5rem;
     }

 }

  @media screen and (max-width: 800px){
    .publicitee button {
            position: absolute;
            margin-left: 6rem !important;
            margin-top: -7rem !important;
        }
  }



 @media screen and (max-width: 690px) {
      .publicitee button  {
         position: absolute;
         margin-left: 6.5rem;
         margin-top: -10rem;
     }

     .addTrajet {
         background-color: #ff5900;
         color: #fff;
         padding: 4px 12px;
         border: none;
         border-radius: 10px;
         font-weight: 400;
         font-size: 11px;
         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     }

     .banner img {
         height: 17rem;
     }

 }

 @media screen and (max-width: 620px) {
      .publicitee button  {
         position: absolute;
         margin-left: 6.3rem;
         margin-top: -10rem;
     }

     .addTrajet {
         background-color: #ff5900;
         color: #fff;
         padding: 4px 12px;
         border: none;
         border-radius: 10px;
         font-weight: 400;
         font-size: 11px;
         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     }

     .banner img {
         height: 16rem;
     }
 }


 @media screen and (max-width: 575px) {
      .publicitee button  {
         position: absolute;
         margin-left: 6rem !important;
         margin-top: -6rem !important;
     }

     .addTrajet {
         background-color: #ff5900;
         color: #fff;
         padding: 4px 12px;
         border: none;
         border-radius: 10px;
         font-weight: 400;
         font-size: 11px;
         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     }

     .banner img {
         height: 14.5rem;
     }

 }

 @media screen and (max-width: 515px) {
    .publicitee button {
         position: absolute;
         margin-left: 5rem !important;
         margin-top: -6rem !important;
         padding: 1px 5px !important;
         font-size: 9px;
     }

     .addTrajet {
         background-color: #ff5900;
         color: #fff;
         padding: 4px 12px;
         border: none;
         border-radius: 10px;
         font-weight: 400;
         font-size: 11px;
         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     }

     .banner img {
         height: 13.2rem;
     }

 }


 @media screen and (max-width: 447px) {
.publicitee button {
        position: absolute;
        margin-left: 5rem !important;
        margin-top: -5rem !important;
        padding: 1px 5px !important;
        font-size: 9px;
    }

     .addTrajet {
         background-color: #ff5900;
         color: #fff;
         padding: 4px 8px;
         border: none;
         border-radius: 10px;
         font-weight: 400;
         font-size: 9px;
         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     }

     .banner img {
         height: 12rem;
     }

 }


 @media screen and (max-width: 419px) {
.publicitee button {
        position: absolute;
        margin-left: 4rem !important;
        margin-top: -6rem !important;
        padding: 1px 5px !important;
        font-size: 9px;
    }

     .addTrajet {
         background-color: #ff5900;
         color: #fff;
         padding: 4px 8px;
         border: none;
         border-radius: 10px;
         font-weight: 400;
         font-size: 9px;
         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     }

     .banner img {
         height: 14rem;
         
     }

 }
 @media screen and (max-width: 353px) {
.publicitee button {
        position: absolute;
        margin-left: 3rem !important;
        margin-top: -6rem !important;
        padding: 1px 5px !important;
        font-size: 9px;
    }

     .addTrajet {
         background-color: #ff5900;
         color: #fff;
         padding: 4px 8px;
         border: none;
         border-radius: 10px;
         font-weight: 400;
         font-size: 9px;
         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     }

     .banner img {
         height: 14rem;

     }

 }