<app-header></app-header><br><br>
<div class="banniere mb-5">
    <img src="../../../assets/b8.png" alt="">
</div>
<div class="btnPublier container mb-5">
    <button class="btn publier" data-bs-toggle="modal" data-bs-target="#publierTrajet">Publier un trajet</button>
</div>
<div class="pourquoi mb-5">
    <h3 class="mb-4">Vous êtes nouveaux, dans notre application, découvrez des bonnes raisons de covoiturer avec nous.</h3>
    <div class="sectionPourquoi container">
        <div class="economie">
            <img src="../../../assets/economie.png" alt="">
            <div class="text">
                <h6>Économisez sur vos trajets</h6>
                <p>Partager votre trajet avec d’autres passagers, c’est réaliser des économies à chaque fois que vous prenez la route.
                    Inscrivez-vous en tant que conducteur et voyagez à moindres frais.</p>
                <p>Optez pour le covoiturage et faites des économies significatives à chaque kilomètre parcouru. En partageant les frais
                avec d'autres passagers, vous divisez les coûts de carburant et de péage, rendant vos trajets beaucoup plus abordables.</p>
                <p>En devenant conducteur dans un système de covoiturage, vous pouvez amortir vos dépenses de transport en partageant les
                frais avec des compagnons de route. Chaque voyage devient une opportunité d'économiser, transformant vos déplacements en
                expériences plus économiques et conviviales.</p>
                <p>Dites adieu aux frais de transport exorbitants en adoptant le covoiturage comme mode de déplacement privilégié. En
                partageant votre trajet avec d'autres personnes, vous réduisez considérablement vos dépenses tout en contribuant à une
                solution plus durable et écologique pour voyager..</p>
            </div>
        </div>
        <div class="zoneRigth">
            <div class="partage">
                <div class="imagePartage">
                    <img src="../../../assets/partage.png" alt="">
                </div>
                <div class="text">
                    <h6>Partagez le moment</h6>
                    <p>Le covoiturage va au-delà du simple fait de se déplacer d'un point A à un point B ; il offre aussi la chance de créer
                    des souvenirs mémorables.</p>
                    <p>Embarquez dans le covoiturage et élargissez votre horizon culturel. Avec des passagers venant d'horizons divers, chaque
                    trajet devient une fenêtre ouverte sur de nouvelles perspectives, idées et expériences. La musique devient une playlist
                    collective, mêlant les goûts de chacun, créant ainsi une bande-son unique pour vos voyages.</p>
                    <p>Explorez le côté ludique du covoiturage en imaginant des voyages dans le temps. Les discussions avec vos compagnons de
                    route peuvent vous transporter vers différentes époques, revisitant des moments historiques ou même projetant des
                    visions futures. Le covoiturage devient ainsi une machine à remonter le temps, où chaque trajet offre une occasion de
                    partager des moments inoubliables.</p>
                </div>
            </div>
            <div class="co2">
                <div class="text">
                    <h6>Réduisez le CO2</h6>
                    <p>Contribuez à la réduction des émissions de CO2 en faisant du covoiturage. En remplissant les sièges vides de votre
                    voiture, vous réduisez le nombre de véhicules sur les routes, entraînant ainsi une diminution significative des
                    émissions de dioxyde de carbone dans notre environnement.</p>
                    <p>Faites votre part pour lutter contre le changement climatique en adoptant le covoiturage. En optimisant l'utilisation de
                    votre véhicule et en partageant vos trajets, vous diminuez le nombre de véhicules en circulation, ce qui se traduit par
                    une réduction directe des émissions de CO2 et une contribution positive à la préservation de notre planète.</p>
                    <p>Le covoiturage devient une solution pratique pour réduire votre empreinte carbone. En offrant des sièges vacants dans
                    votre voiture, vous participez activement à la diminution du nombre de véhicules sur les routes, entraînant une
                    réduction significative des émissions de CO2. Une action simple qui a un impact écologique concret.</p>
                </div>
                <div class="imageCo2">
                    <img src="../../../assets/co2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tuto mb-5">
    <h3 class="mb-5">Publiez votre trajet en quelques minutes seulement</h3>
    <div class="sectionTuto container">
        <div class="videoTuto">
            <img src="../../../assets/Publier un trajet avec.gif" alt="">
        </div>
        <div class="textTuto mt-4">
            <h4>Créez votre compte sur àndandoo</h4>
            <p>Ajoutez quelques lignes sur vous et votre numéro de téléphone pour plus de confiance avec les membres.</p>
            <h4>Publiez votre trajet</h4>
            <p>Ajouter votre photo, indiquez votre lieu de départ et d’arrivée, la date et découvrez le prix recommandé pour augmenter
            vos chances d’avoir vos 1ers passagers et avis.</p>
            <h4>Acceptez vos demandes de réservation</h4>
            <p>Découvrez les profils de vos passagers et économisez sur vos frais de voyage.</p>
        </div>
    </div>
</div>
<!-- <div class="publicitee mb-5 ">
    <div class="banner container mb-5 mt-5">
        <button class="btn publier addTrajet" data-bs-toggle="modal" data-bs-target="#publierTrajet">Publier un trajet</button>
    </div>
</div> -->

<br>


<div class="publicitee">
    <div class="banner">
        <img src="../../../assets/banner.png" alt="">
    </div>
    <button class="addTrajet" data-bs-toggle="modal" data-bs-target="#publierTrajet">Publier un trajet</button>
</div>

<app-footer></app-footer>

<!-- Modal publier trajet -->
<div class="modal fade" id="publierTrajet" tabindex="-1" aria-labelledby="publierTrajetLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 titre" id="publierTrajetLabel">Publier un trajet</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="lieuDepart" class="form-label">Lieu de départ: <span class="clr">*</span></label>
                        <input type="text" class="form-control mb-1" id="lieuDepart" name="depart" [(ngModel)]="depart" (input)="this.verifDepartFonction()">
                        <p *ngIf="error" class="text-danger">{{error.LieuDepart}}</p>
                        <p class="text-danger" *ngIf="!exactDepart">{{verifDepart}}</p>
                        <p class="text-success" *ngIf="exactDepart"><i class="bi bi-check2-all"></i> OK!</p>

                    </div>
                    <div class="mb-3">
                        <label for="lieuArriver" class="form-label">Lieu d'arriver: <span class="clr">*</span></label>
                        <input type="text" class="form-control mb-1" id="lieuArriver" name="arriver" [(ngModel)]="arriver" (input)="this.verifArriverFonction()">
                        <p *ngIf="error" class="text-danger">{{error.LieuArrivee}}</p>
                        <p class="text-danger" *ngIf="!exactArriver">{{verifArriver}}</p>
                        <p class="text-success" *ngIf="exactArriver"><i class="bi bi-check2-all"></i> OK!</p>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Date: <span class="clr">*</span></label>
                        <input type="date" class="form-control mb-1" id="date" name="date" [(ngModel)]="date" [min]="minDate()" (input)="this.verifDateFonction()">
                        <p *ngIf="error" class="text-danger">{{error.DateDepart}}</p>
                        <p class="text-danger" *ngIf="!exactDate">{{verifDate}}</p>
                        <p class="text-success" *ngIf="exactDate"><i class="bi bi-check2-all"></i> OK!</p>
                    </div>
                    <div class="mb-3">
                        <label for="time" class="form-label">Heure: <span class="clr">*</span></label>
                        <input type="time" class="form-control mb-1" id="time" name="time" [(ngModel)]="time" (input)="this.verifHeureFonction()">
                        <p *ngIf="error" class="text-danger">{{error.HeureD}}</p>
                        <p class="text-danger" *ngIf="!exactTime">{{verifTime}}</p>
                        <p class="text-success" *ngIf="exactTime"><i class="bi bi-check2-all"></i> OK!</p>
                    </div>
                    <div class="mb-3">
                        <label for="prix" class="form-label">Prix(francs cfa): <span class="clr">*</span></label>
                        <input type="number" class="form-control mb-1" id="prix" name="prix" [(ngModel)]="prix" (input)="this.verifPrixFonction()">
                        <p *ngIf="error" class="text-danger">{{error.Prix}}</p>
                        <p class="text-danger" *ngIf="!exactPrix">{{verifPrix}}</p>
                        <p class="text-success" *ngIf="exactPrix"><i class="bi bi-check2-all"></i> OK!</p>
                    </div>
                    <div class="mb-3">
                        <label for="nbrPlace" class="form-label">Description:</label>
                        <textarea class="form-control mb-1" placeholder="Leave a comment here" id="floatingTextarea" name="description" [(ngModel)]="description"></textarea>
                        <p *ngIf="error" class="text-danger">{{error.DescriptionTrajet}}</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnAjout" data-bs-dismiss="modal" (click)="addTrajet()" [disabled]="!exactDepart || !exactArriver || !exactDate || !exactTime || !exactPrix ">Ajouter</button>
                <button type="button" class="btn btnClose" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>