<app-header></app-header><br><br>
<div class="banniere mb-5">
    <img src="../../assets/containter.png" alt="">
</div>
<div class="btnPublier container mb-5">
    <button class="btn publier" data-bs-toggle="modal" data-bs-target="#publierTrajet">Publier un trajet</button>
</div>
<div class="pourquoi mb-5">
    <h3 class="mb-4">Vous etes nouveaux dans notre application découvrez des bonnes raisons de covoiturer avec nous</h3>
    <div class="sectionPourquoi container">
        <div class="economie">
            <img src="../../../assets/economie.png" alt="">
            <div class="text">
                <h6>Économisez sur vos trajets</h6>
                <p>Partager votre trajet avec d’autres passagers, c’est réaliser des économies à chaque fois que vous prenez la route.
                    Inscrivez-vous en tant que conducteur et voyagez à moindres frais.</p>
                <p>Partager votre trajet avec d’autres passagers, c’est réaliser des économies à chaque fois que vous prenez la route.
                    Inscrivez-vous en tant que conducteur et voyagez à moindres frais.</p>
                <p>Partager votre trajet avec d’autres passagers, c’est réaliser des économies à chaque fois que vous prenez la route.
                    Inscrivez-vous en tant que conducteur et voyagez à moindres frais.</p>
                <p>Partager votre trajet avec d’autres passagers, c’est réaliser des économies à chaque fois que vous prenez la route.
                    Inscrivez-vous en tant que conducteur et voyagez à moindres frais.</p>
            </div>
        </div>
        <div class="zoneRigth">
            <div class="partage">
                <div class="imagePartage">
                    <img src="../../../assets/partage.png" alt="">
                </div>
                <div class="text">
                    <h6>Partagez le moment</h6>
                    <p>Sauver une histoire d’amour, élargir votre culture musicale, ou qui sait, voyager dans le temps… tellement de choses
                    peuvent se produire en covoiturant avec d’autres personnes.</p>
                    <p>Sauver une histoire d’amour, élargir votre culture musicale, ou qui sait, voyager dans le temps… tellement de choses
                    peuvent se produire en covoiturant avec d’autres personnes.</p>
                    <p>Sauver une histoire d’amour, élargir votre culture musicale, ou qui sait, voyager dans le temps… tellement de choses
                    peuvent se produire en covoiturant avec d’autres personnes.</p>
                </div>
            </div>
            <div class="co2">
                <div class="text">
                    <h6>Réduisez le CO2</h6>
                    <p>Remplir les places libres dans votre voiture c’est moins de véhicules en circulation sur les routes. Et donc, moins
                    d’émission de CO2 sur la planète.</p>
                    <p>Remplir les places libres dans votre voiture c’est moins de véhicules en circulation sur les routes. Et donc, moins
                    d’émission de CO2 sur la planète.</p>
                    <p>Remplir les places libres dans votre voiture c’est moins de véhicules en circulation sur les routes. Et donc, moins
                    d’émission de CO2 sur la planète.</p>
                </div>
                <div class="imageCo2">
                    <img src="../../../assets/co2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tuto mb-5">
    <h3 class="mb-5">Publiez votre trajet en quelques minutes seulement</h3>
    <div class="sectionTuto container">
        <div class="videoTuto">
            <img src="../../../assets/Publier un trajet avec.gif" alt="">
        </div>
        <div class="textTuto mt-4">
            <h4>Créez votre compte sur àndandoo</h4>
            <p>Ajoutez quelques lignes sur vous et votre numéro de téléphone pour plus de confiance avec les membres.</p>
            <h4>Publiez votre trajet</h4>
            <p>Ajouter votre photo, indiquez votre lieu de départ et d’arrivée, la date et découvrez le prix recommandé pour augmenter
            vos chances d’avoir vos 1ers passagers et avis.</p>
            <h4>Acceptez vos demandes de réservation</h4>
            <p>Découvrez les profils de vos passagers et économisez sur vos frais de voyage.</p>
        </div>
    </div>
</div>
<div class="publicitee mb-5 ">
    <div class="banner container mb-5 mt-5">
        <button class="btn publier addTrajet" data-bs-toggle="modal" data-bs-target="#publierTrajet">Publier un trajet</button>
    </div>
</div>

<app-footer></app-footer>

<!-- Modal publier trajet -->
<div class="modal fade" id="publierTrajet" tabindex="-1" aria-labelledby="publierTrajetLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 titre" id="publierTrajetLabel">Publier un trajet</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="image" class="form-label">Images:</label>
                        <input type="file" class="form-control" id="image">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Lieu de départ:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>selectionner votre lieu de départ</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Lieu d'arriver:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>selectionner votre lieu de d'arriver</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Date:</label>
                        <input type="date" class="form-control" id="date">
                    </div>
                    <div class="mb-3">
                        <label for="time" class="form-label">Heure:</label>
                        <input type="time" class="form-control" id="time">
                    </div>
                    <div class="mb-3">
                        <label for="prix" class="form-label">Prix:</label>
                        <input type="number" class="form-control" id="prix">
                    </div>
                    <div class="mb-3">
                        <label for="nbrPlace" class="form-label">Places disponibles:</label>
                        <input type="number" class="form-control" id="nbrPlace">
                    </div>
                    <div class="mb-3">
                        <label for="nbrPlace" class="form-label">Description:</label>
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnAjout">Ajouter</button>
                <button type="button" class="btn btnClose" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>