<div class="dashbord">
    <div class="section sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="section">
        <!-- Le navbar  -->
        <app-navbar></app-navbar>

        <!-- Contenu dashbord  -->
        <div class="container containerReseau mb-5">
            <div class="row px-5">
                <!-- Liste des réseaux  -->
                <div class="col-md-12 px-4">
                    <div class="card px-4 py-2 pt-4 shadow-sm rounded-4">
                        <!-- Recherhcer une ligne  -->
                        <div class="sectionEspace  mb-3">
                            <div>
                                <h4 class="fw-bold">Listes des inscripts aux newsletters</h4>
                            </div>
                            <div>
                                <div class="input-group">
                                    <button class="btn btnEnvoie">Envoyer à tout le monde</button>
                                </div>
                            </div>
                        </div>

                        <!-- Le tableau des réseaux -->
                        <div class="table-responsive">
                            <table class="table  mb-4">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th scope="col">Adresse Email </th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let news of getItemsPage()">
                                    <tr>
                                        <td>{{news.id}}</td>
                                        <td>{{news.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Pagination  -->
                        <div *ngIf="getItemsPage().length">
                            <div class="d-flex justify-content-end mb-2">
                                <button class="rounded-2 btnColor  mx-2" [disabled]="pageActuelle === 1"
                                    (click)="pageActuelle = pageActuelle - 1">
                                    <i class="bi bi-caret-left-fill fs-4"></i>
                                </button>
                                <button class=" mx-2 page" *ngFor="let page of pages" (click)="pageActuelle = page">
                                    <span class="pageActuelle fs-5" *ngIf="page===pageActuelle">{{page}}</span>
                                    <span *ngIf="page != pageActuelle">{{page}}</span>
                                    <!-- {{ page }} -->
                                </button>
                                <button class="rounded-2 btnColor mx-2" [disabled]="pageActuelle === totalPages"
                                    (click)="pageActuelle = pageActuelle + 1">
                                    <i class="bi bi-caret-right-fill fs-4"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="detailUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fondText fs-5" id="exampleModalLabel">Détail Utilisateur</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body details">
                <div class="imageProfilUser me-4 p-2">
                    <img src="https://img.freepik.com/premium-photo/advertising-concept-confident-smiling-young-african-woman-crossed-hands-looking-camera_613652-185.jpg?w=740"
                        class="rounded-circle mt-4" alt="profil" style="width: 140px; height: 140px;">
                </div>
                <div class="infosUser">
                    <p><span class="fondText">Nom:</span> Diagne</p>
                    <p><span class="fondText">Prénom:</span> Fatou</p>
                    <p><span class="fondText">Adresse email:</span> Fatou@gmail.com</p>
                    <p><span class="fondText">Téléphone:</span> 773458719</p>
                    <p><span class="fondText">statut :</span> Passager</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnClose" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>