<app-header></app-header><br><br>
<div class="banniere mb-5">
    <img src="../../../assets/banner1.png" alt="">
</div>
<div class="btnFaq container mb-5">
    <h3>Comment pouvons-nous vous aider ?</h3>
    <h5>En tant que passager ou conducteur trouver ici toutes les reponses à votre questions</h5>
    <button class=" passager" [routerLink]="['/faqP']">Passager-ère</button>
    <button class=" conducteur" [routerLink]="['/faqC']">Condouteur-rice</button>
</div>
<div class="sectionFaq container mb-5">
    <div class="simplonFaq">
        <h5>Publier un trajet</h5>
        <div class="question">
            <details>
                <summary><span>Comment proposer un trajet ?</span> <span
                        class="arrow">&#9660;</span></summary>
                <p>Tout d'abord, assurez-vous de créer un compte.Une fois connecté à votre compte, recherchez  l'option qui vous
                permet de proposer un trajet.Dans la section de proposition de trajet, vous devrez fournir des informations telles que la date et l'heure de départ,
                le lieu de départ et d'arrivée et le nombre de place disponible.Vous aurez également l'option de définir le prix de votre trajet. Une fois que vous avez saisi tous les détails nécessaires, vous pouvez publier votre trajet . Il sera
                alors disponible pour les passagers potentiels qui recherchent des trajets dans la même direction.</p>
            </details>
            <details>
                <summary><span>Définir le prix du trajet</span> <span
                        class="arrow">&#9660;</span></summary>
                <p>Lorsque vous proposez un trajet, vous avez généralement la possibilité de définir le
                prix du trajet. Voici quelques considérations à prendre en compte lors de la définition du prix :
                <ol>
                    <li>Coûts liés au trajet : Prenez en compte les coûts associés à votre trajet, tels que les frais de carburant, les péages
                    éventuels et les frais de stationnement. Si vous partagez les frais avec les passagers, assurez-vous de calculer une
                    part équitable pour chaque personne.</li>
                    <li>Distance et durée du trajet : La distance et la durée du trajet peuvent également influencer le prix. Les trajets plus
                    longs ou ceux qui nécessitent plus de temps peuvent justifier un prix légèrement plus élevé. Tenez compte de la distance
                    totale parcourue ainsi que de la durée estimée du trajet lorsque vous fixez un prix.</li>
                    <li>Tarifs concurrentiels : Renseignez-vous sur les tarifs pratiqués par d'autres conducteurs proposant des trajets
                    similaires dans votre région. Essayez de proposer un prix compétitif qui reflète la demande du marché tout en restant
                    attractif pour les passagers potentiels.</li>
                </ol>
                <p>
            </details>
            <details>
                <summary><span>Des difficultés pour publier votre trajet ?</span> <span class="arrow">&#9660;</span></summary>
                <p>Assurez-vous d'avoir une connexion Internet stable et fonctionnelle. Parfois, des problèmes de connectivité peuvent
                empêcher le chargement et la publication correcte de votre trajet.
                Assurez-vous d'avoir rempli tous les champs obligatoires lors de la saisie des détails de votre trajet. Vérifiez attentivement chaque champ pour vous assurer que vous n'avez
                pas omis d'informations importantes.Si vous avez suivi toutes les étapes précédentes et que vous rencontrez toujours des difficultés pour publier votre
                trajet, il est préférable de contacter le support client de l'application. Ils pourront vous aider à diagnostiquer le
                problème spécifique et à vous fournir une assistance personnalisée pour résoudre le problème de publication de votre
                trajet.
            </p>
            </details>
            <details>
                <summary><span>Choisir comment les passager-ère peuvent réserver</span> <span
                        class="arrow">&#9660;</span></summary>
                <p>Une fois votre trajet publier, les passagers intéressés enverront une demande de réservation que vous devrez examiner et accepter ou refuser. Cette
                option vous donne un contrôle supplémentaire sur les passagers qui rejoindront votre trajet.</p>
            </details>
            <details>
                <summary><span>comment accepter les reservations</span> <span class="arrow">&#9660;</span>
                </summary>
                <p>Assurez-vous que vous avez activé les notifications dans l'application de covoiturage afin de recevoir des alertes en
                temps réel lorsqu'une réservation est effectuée. Cela peut être sous forme de notifications push sur votre téléphone ou
                d'e-mails. Lorsque vous recevez une notification de réservation, ouvrez l'application de covoiturage et rendez-vous dans la section
                "Réserver un trajet" pour consulter les détails de la demande. Prenez le temps d'examiner les informations fournies par le passager, telles que l'heure de départ, le lieu de prise en
                charge, la destination et tout autre détail pertinent. Assurez-vous que les informations correspondent à vos préférences
                et à votre trajet.
                 Si vous êtes satisfait des détails de la réservation, vous pouvez accepter la demande.
                Dans l'application, il devrait y avoir un bouton ou une option pour accepter la réservation. Cliquez dessus pour
                confirmer votre accord.
            </p>
            </details>
        </div>
    </div>
    <div class="simplonFaq">
        <h5>Vos réservations</h5>
        <div class="question">
            <details>
                <summary><span>Comment savoir s’il a accepté</span> <span class="arrow">&#9660;</span></summary>
                <p>Lorsque le conducteur accepte votre demande de covoiturage, vous recevrez généralement une notification
                    sur votre
                    téléphone ou dans l'application elle-même. Cette notification peut prendre la forme d'une pop-up, d'un
                    message ou d'une
                    icône spécifique indiquant que votre demande a été acceptée.</p>
            </details>
            <details>
                <summary><span>comment faire un retour de trajet</span> <span class="arrow">&#9660;</span></summary>
                <p>Pour faire un retour de trajet, ouvrez l'application et accédez à la section des
                    trajets récents. Sélectionnez le trajet concerné et évaluez le conducteur en utilisant le système de
                    commentaire en étant constructif
                    et objectif. Une fois que vous avez terminé, soumettez votre retour en cliquant sur le bouton approprié.
                    Vos
                    commentaires sont essentiels pour maintenir la qualité du service de covoiturage et aider les autres
                    utilisateurs à
                    faire des choix éclairés. Si vous avez des difficultés, n'hésitez pas à consulter la documentation de
                    l'application ou à
                    contacter le support client pour obtenir de l'aide.
                </p>
            </details>
            <details>
                <summary><span>Que faire si votre voiture n'est pas là ?</span> <span class="arrow">&#9660;</span>
                </summary>
                <p>Si vous avez réservé un covoiturage et que la voiture n'est pas présente au lieu de prise en charge
                    convenu, il y a
                    plusieurs mesures que vous pouvez prendre pour résoudre la situation. Tout d'abord, vérifiez
                    attentivement les détails
                    de votre réservation, y compris l'heure et le lieu de prise en charge. Assurez-vous que vous êtes au bon
                    endroit et à
                    l'heure prévue. Si vous êtes certain d'être au bon endroit et que la voiture n'est pas là, essayez de
                    contacter le
                    conducteur via l'application de covoiturage ou par téléphone.
                    Cependant, si le conducteur ne se présente pas après un certain délai et que vous ne pouvez pas résoudre
                    la situation,
                    vous devrez envisager des alternatives de transport, comme réserver un autre covoiturage, utiliser les
                    transports
                    publics ou appeler un taxi. N'oubliez pas de signaler l'incident à l'application de covoiturage en
                    fournissant les
                    détails de la réservation et en expliquant ce qui s'est passé. Cela leur permettra de prendre les
                    mesures appropriées et
                    de vous aider à résoudre le problème.</p>
            </details>
        </div>
    </div>
    <div class="simplonFaq">
        <h5>Gérer votre publication</h5>
        <div class="question">
            <details>
                <summary><span>Mon trajet contient une erreur, que faire ?</span> <span class="arrow">&#9660;</span></summary>
                <p>Identifiez précisément quelle erreur s'est produite dans les détails du trajet. Il peut s'agir d'une erreur dans l'heure
                de départ, la destination, le lieu de rendez-vous, le nombre de places disponibles, ou toute autre information
                incorrecte.Dans l'application d, recherchez l'option permettant de modifier votre trajet. Cela peut être une icône
                d'édition ou un bouton de modification à côté du trajet publié. Cliquez dessus et apportez les corrections nécessaires
                aux informations erronées. Si des passagers ont déjà réservé le trajet avant que vous ne remarquiez l'erreur, il est
                important de les informer
                rapidement.Si vous rencontrez des difficultés pour modifier le trajet ou si vous avez des préoccupations particulières liées à
                l'erreur, il est recommandé de contacter le support client de l'application. Ils pourront vous fournir
                une assistance supplémentaire et des conseils spécifiques pour résoudre le problème.</p>
            </details>
            <details>
                <summary><span>Comment puis-je annuler mon annonce ?</span>
                    <span class="arrow">&#9660;</span>
                </summary>
                <p>Dans l'application Recherchez  l'option "Mes trajets" qui vous permet de gérer vos annonces.Après avoir sélectionné l'option d'annulation, l'application peut vous demander de confirmer votre choix. Assurez-vous
                de lire attentivement les instructions et les avertissements éventuels avant de confirmer l'annulation.Si des passagers ont déjà réservé votre trajet, il est important de les informer de l'annulation dès que possible.Si vous rencontrez des difficultés pour modifier le trajet ou si vous avez des préoccupations particulières liées à
                l'erreur, il est recommandé de contacter le support client de l'application. Ils pourront vous fournir
                une assistance supplémentaire et des conseils spécifiques pour résoudre le problème.</p>
            </details>
        </div>
    </div>
</div>
<app-footer></app-footer>