<div class="dashbord">
    <div class="section sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="section">
        <!-- Le navbar  -->
        <app-navbar></app-navbar>

        <!-- Contenu dashbord  -->
        <div class="container containerReseau mb-5">
            <div class="row px-5">
                <!-- Liste des réseaux  -->
                <div class="col-md-12 px-4">
                    <div class="card px-4 py-2 pt-4 shadow-sm rounded-4">
                        <!-- Recherhcer une ligne  -->
                        <div class="row sectionEspace ligneReseauSearch mb-3">
                            <div class="col-md-7">
                                <h3 class="fw-bold">Listes des clients</h3>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <!-- <input type="text" name="search" class="form-control" [(ngModel)]="filterValue" (input)="onSearch()"> -->
                                    <input type="text" name="search" class="form-control" [(ngModel)]="filterValue"
                                        (input)="onSearch()" placeholder="Rechercher ......">
                                    <button class="iconesearch input-group-text"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </div>

                        <!-- Le tableau des réseaux -->
                        <table class="table table-responsive mb-4">
                            <thead>
                                <tr>
                                    <th scope="col">Profil </th>
                                    <th scope="col">Nom </th>
                                    <th scope="col">Prénom </th>
                                    <th scope="col">Adresse Email </th>
                                    <th scope="col">Téléphone </th>
                                    <th scope="col">Action </th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let client of getItemsPage()">
                            <tr>
                                <td>
                                    <img src="http://127.0.0.1:8000/images/profils/{{client.Image}}"
                                        class="rounded-circle mb-2" alt="profil" style="width: 40px; height: 40px;">
                                </td>
                                <td>{{client.Nom}}</td>
                                <td>{{client.Prenom}}</td>
                                <td>{{client.Email}}</td>
                                <td>{{client.Telephone}}</td>
                                <td>
                                    <button class="btn btnAction" data-bs-toggle="modal" data-bs-target="#detailUser" titre="détail" (click)="detailClient(client.id)">Détails</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- Pagination  -->
                        <div *ngIf="getItemsPage().length">
                            <div class="d-flex justify-content-end mb-2">
                                <button class="rounded-2 btnColor  mx-2" [disabled]="pageActuelle === 1"
                                    (click)="pageActuelle = pageActuelle - 1">
                                    <i class="bi bi-caret-left-fill fs-4"></i>
                                </button>
                                <button class=" mx-2 page" *ngFor="let page of pages" (click)="pageActuelle = page">
                                    <span class="pageActuelle fs-5" *ngIf="page===pageActuelle">{{page}}</span>
                                    <span *ngIf="page != pageActuelle">{{page}}</span>
                                    <!-- {{ page }} -->
                                </button>
                                <button class="rounded-2 btnColor mx-2" [disabled]="pageActuelle === totalPages"
                                    (click)="pageActuelle = pageActuelle + 1">
                                    <i class="bi bi-caret-right-fill fs-4"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="detailUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fondText fs-5" id="exampleModalLabel">Détail Client</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body details">
                <div class="imageProfilUser me-4 p-2">
                    <img src="http://127.0.0.1:8000/images/profils/{{curentClient?.Image}}"
                        class="rounded-circle mt-4" alt="profil" style="width: 140px; height: 140px;">
                </div>
                <div class="infosUser">
                    <p><span class="fondText">Nom Complet:</span> {{curentClient?.Prenom}} {{curentClient?.Nom}}</p>
                    <p><span class="fondText">Adresse email:</span> {{curentClient?.Email}}</p>
                    <p><span class="fondText">Téléphone:</span> {{curentClient?.Telephone}}</p>
                    <p><span class="fondText">statut :</span> {{curentClient?.role}}</p>
                    <p><span class="fondText">Zone :</span> {{curentClient?.Zone}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnClose" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>