<app-header></app-header><br><br>
<div class="banniere mb-5">
    <img src="../../../assets/b10.png" alt="">
</div>
<div class="sectionSearch mb-5">
    <h3>Trouver en un clique le meilleur trajet pour vous</h3>
    <h5 class="mb-5">Quelle que soit votre destination, il y a un covoiturage pour vous y amener à moindre coût.</h5>
    <!-- <div class="searching addTravel container ">

        <div class="add1">
            <div>
                <h3>Lieu de départ *</h3>
                <div class="mb-3">
                    <input type="text" class="form-control" id="lieuDepart" name="depart" [(ngModel)]="depart">
                </div>
                <br>
            </div>
        
            <div>
                <br>
                <i class="bi bi-geo-alt" style="color: #ff5900;"></i>
            </div>
        
            <div>
                <div>
                    <h3>Lieu d'arriver *</h3>
                    <div class="mb-3">
                    <input type="text" class="form-control" id="lieuDepart" name="arriver" [(ngModel)]="arriver">
                    </div>
                </div>
            </div>
        </div>
        <div class="add1">
            <div>
                <h3>Date de départ *</h3>
                <input type="date"  name="date" [(ngModel)]="date">
                <br>
            </div>
        
            <div>
                <br>
                <i class="bi bi-calendar2-week" style="color: #ff5900;"></i>
            </div>
        
            <div>
                <div>
                    <h3>Heure de départ</h3>
                    <input type="time"  name="time" [(ngModel)]="time">
                </div>
            </div>
        </div>
        <div class="search">
            <i class="bi bi-search" style="color: #fff; cursor: pointer;" (click)="onSearch()"></i>
        </div>
    </div> -->

    <div class="">
        <div class="addTravel" id="addTravel">
            <!-- le bloc de gauche -->
            <div class="add1">
                <div>
                    <!-- lieu de depart -->
                    <br>
                    <h3>Lieu de départ</h3>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="lieuDepart" name="depart" [(ngModel)]="depart">
                    </div>
                    <br>
                </div>

                <!-- icone au milieu -->
                <div class="position">
                    <i class="bi bi-geo-alt" style="color: #ff5900;"></i>
                </div>

                <!-- lieu d'arriver -->
                <div>
                    <div>
                        <h3>Lieu d'arriver</h3>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="lieuDepart" name="arriver"
                                [(ngModel)]="arriver">
                        </div>
                    </div>
                </div>
            </div>
            <!-- ------------------------------------------------------------ -->
            <!-- le bloc du milieu -->
            <div class="add1" id="formInput">
                <div>
                    <div>
                        <h3>Date de départ *</h3>
                        <input type="date" name="date" [(ngModel)]="date">
                        <br>
                    </div>
                </div>

                <!-- icone au milieu -->
                <div class="position">
                    <i class="bi bi-calendar2-week" style="color: #ff5900;"></i>
                </div>

                <!-- lieu d'arriver -->
                    <div>
                        <div>
                            <h3 class="taille">Heure de départ</h3>
                            <input type="time" name="time" [(ngModel)]="time">
                        </div>
                    </div>
                </div>

            <!-- bloc de droite pour recherche -->
            <div class="search">
                <i class="bi bi-search" style="color: #fff; cursor: pointer;" (click)="onSearch()"></i>
            </div>

        </div>
    </div>
</div>

<div class="cardTrajets mb-5 container" *ngIf="this.userConnect.role=='chauffeur'">
    <ng-container *ngFor="let trajet of getItemsPage()">
        <div class="trajet">
            <div class="chauffeur">
                <img src="http://127.0.0.1:8000/images/profils/{{trajet.ImageProfile}}" alt=""
                    class="rounded-circle mx-auto" style="height: 150px; width: 150px;">
                <p class="text-center"> Chauffeur</p>
                <span class="text-center"> {{trajet.PrenomChauffeur}} {{trajet.NomChauffeur}}</span>
            </div>
            <hr>
            <div class="infosTrajet">
                <div class="lieu">
                    <p class=" mb-1 mt-1">
                        {{trajet.LieuDepart}}
                        <i class="bi bi-car-front-fill" style="color: #ff5900;"></i>
                        {{trajet.LieuArrivee}}
                    </p>
                </div>
                <div class="date">
                    <p class=" mb-1 mt-1">
                        {{ formatDate(trajet.DateDepart) }}
                        <i class="bi bi-calendar4-week" style="color: #ff5900;"></i>
                        {{ formatHeure(trajet.HeureDepart) }}
                    </p>
                </div>
            </div>
            <hr>
            <div class="details mb-3">
                <span class="gauche">{{trajet.Prix}} FCA</span>
                <span class="droite"><i class="bi bi-people-fill"></i> {{trajet.NombrePlaceDisponible}} places
                    disponibles</span>
            </div>
            <div class="autreDetails"> 
                <span class="mt-2">
                    <i class="bi bi-eye me-2" title="Voir Profil du chauffeur" data-bs-toggle="modal"
                        data-bs-target="#profilChauffeur" style="cursor: pointer; color: #ff5900;"
                        (click)="detailClient(trajet.id)"></i>
                    <i class="bi bi-chat-left" title="Commentaire" style="cursor: pointer; color: #ff5900;"
                        data-bs-toggle="modal" data-bs-target="#commentaire" (click)="recupId(trajet.id)" ></i>
                </span>
                <button class="btn reserver" class="btn btnClose"  data-bs-toggle="modal" data-bs-target="#exampleModal">Reservation</button>
            </div>
        </div>
    </ng-container>
    <div *ngIf="tabTrajetFilter.length === 0">
        <h3 class="titre text-center">Aucun trajet trouvé avec les critères sélectionnés.</h3>
    </div>
</div>
<ng-container *ngIf="this.userConnect.role=='chauffeur'">
    <!-- Pagination  -->
    <div class="pagination mb-5" *ngIf="getItemsPage().length">
        <div class="d-flex justify-content-end mb-2">
            <button class="rounded-2 btnColor  mx-2" [disabled]="pageActuelle === 1"
                (click)="pageActuelle = pageActuelle - 1">
                <i class="bi bi-arrow-left-circle-fill me-2"></i>
            </button>
            <button class=" mx-2 page" *ngFor="let page of pages" (click)="pageActuelle = page">
                <span class="pageActuelle fs-5" *ngIf="page===pageActuelle">{{page}}</span>
                <span *ngIf="page != pageActuelle">{{page}}</span>
                <!-- {{ page }} -->
            </button>
            <button class="rounded-2 btnColor mx-2" [disabled]="pageActuelle === totalPages"
                (click)="pageActuelle = pageActuelle + 1">
                <i class="bi bi-arrow-right-circle-fill"></i>
            </button>
        </div>
    </div>
</ng-container>

<div class="cardTrajets mb-5 container"  *ngIf="this.userConnect.role=='client'">
    <ng-container *ngFor="let trajet of getItemsAllPage()">
        <div class="trajet">
            <div class="chauffeur">
                <img src="http://127.0.0.1:8000/images/profils/{{trajet.ImageProfile}}" alt=""
                    class="rounded-circle mx-auto" style="height: 150px; width: 150px;">
                <p class="text-center"> Chauffeur</p>
                <span class="text-center"> {{trajet.PrenomChauffeur}} {{trajet.NomChauffeur}}</span>
            </div>
            <hr>
            <div class="infosTrajet">
                <div class="lieu">
                    <p class=" mb-1 mt-1">
                        {{trajet.LieuDepart}}
                        <i class="bi bi-car-front-fill" style="color: #ff5900;"></i>
                        {{trajet.LieuArrivee}}
                    </p>
                </div>
                <div class="date">
                    <p class=" mb-1 mt-1">
                        {{ formatDate(trajet.DateDepart) }}
                        <i class="bi bi-calendar4-week" style="color: #ff5900;"></i>
                        {{ formatHeure(trajet.HeureDepart) }}
                    </p>
                </div>
            </div>
            <hr>
            <div class="details mb-3">
                <span class="gauche">{{trajet.Prix}} FCA</span>
                <span class="droite"><i class="bi bi-people-fill"></i> {{trajet.NombrePlaceDisponible}} places
                    disponibles</span>
            </div>
            <div class="autreDetails">
                <span class="mt-2">
                    <i class="bi bi-eye me-2" title="Voir Profil du chauffeur" data-bs-toggle="modal"
                        data-bs-target="#profilChauffeur" style="cursor: pointer; color: #ff5900;"
                        (click)="detailClient(trajet.id)"></i>
                    <i class="bi bi-chat-left" title="Commentaire" style="cursor: pointer; color: #ff5900;"
                        data-bs-toggle="modal" data-bs-target="#commentaire" (click)="recupId(trajet.id)"></i>
                </span>
                <button class="btn reserver" class="btn btnClose" 
                     data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Reservation</button>
            </div>
        </div>
    </ng-container>
    <!-- <div *ngIf="tabAllTrajetFilter.length === 0">
        <h3 class="titre text-center">Aucun trajet trouvé avec les critères sélectionnés.</h3>
    </div> -->
</div>
<ng-container *ngIf="this.userConnect.role=='client'">
    <!-- Pagination  -->
    <div class="pagination mb-5" *ngIf="getItemsAllPage().length">
        <div class="d-flex justify-content-end mb-2">
            <button class="rounded-2 btnColor  mx-2" [disabled]="pageActuelle === 1"
                (click)="pageActuelle = pageActuelle - 1">
                <i class="bi bi-arrow-left-circle-fill me-2"></i>
            </button>
            <button class=" mx-2 page" *ngFor="let page of pages" (click)="pageActuelle = page">
                <span class="pageActuelle fs-5" *ngIf="page===pageActuelle">{{page}}</span>
                <span *ngIf="page != pageActuelle">{{page}}</span>
                <!-- {{ page }} -->
            </button>
            <button class="rounded-2 btnColor mx-2" [disabled]="pageActuelle === totalPages"
                (click)="pageActuelle = pageActuelle + 1">
                <i class="bi bi-arrow-right-circle-fill"></i>
            </button>
        </div>
    </div>
</ng-container>
<app-footer></app-footer>


<!-- Modal détails Chauffeur -->
<div class="modal fade" id="profilChauffeur" *ngIf="trajetSelected">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold titre">Profil Chauffeur</h1>
                <button type="button" class="btn-close fond-bleu text-light" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <img src="http://127.0.0.1:8000/images/voiture/{{trajetSelected.ImageVoiture}}"
                            class="img-fluid" alt="">
                    </div>
                    <div class="col-12 col-md-6 p-2">
                        <img src="http://127.0.0.1:8000/images/profils/{{trajetSelected.ImageProfile}}"
                            class="rounded-circle" style="width: 40px; height: 40px;">
                        <h4 class=""> {{trajetSelected.PrenomChauffeur}} {{trajetSelected.NomChauffeur}} <br></h4>
                        <span>Chauffeur</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnClose  fw-bold" data-bs-dismiss="modal">Fermer</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<!-- Modal commentaire -->
<div class="modal fade" id="commentaire" tabindex="-1" aria-labelledby="commentaire" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 titre" id="commentaire">Commentaire</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex w-50 justify-content-between mb-2">
                    <span>La note : </span>
                    <div class="w-50 d-flex justify-content-between">
                        <i class="bi bi-star" id="star" (click)="noteStar(1)"></i>
                        <i class="bi bi-star" id="star" (click)="noteStar(2)"></i>
                        <i class="bi bi-star" id="star" (click)="noteStar(3)"></i>
                        <i class="bi bi-star" id="star" (click)="noteStar(4)"></i>
                        <i class="bi bi-star" id="star" (click)="noteStar(5)"></i>
                    </div>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                        style="height: 100px" name="contenue" [(ngModel)]="commentaire"></textarea>
                    <label for="floatingTextarea2">commentaire</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnAjout" data-bs-dismiss="modal" (click)="envoyerAvis()">Envoyer</button>
                <button type="button" class="btn btnClose" data-bs-dismiss="modal" aria-label="Close"
                    #closeAddExpenseModal>
                    Annuler
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal nombre de place à reserver -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 titre" id="exampleModalLabel">Nombre de place </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div class="mb-3">
                <label for="nbrplace" class="form-label">Nombre de place à reserver:</label>
                <input type="number" class="form-control" id="nbrplace" value="1" name="nbrplace" [(ngModel)]="nbrplace">
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnAjout" (click)="demandeRservation()" data-bs-dismiss="modal">Reserver</button>
                <button type="button" class="btn btnClose" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>