<app-header></app-header><br><br>
<div class="banniere mb-5">
    <img src="../../assets/containter.png" alt="">
</div>
<div class="sectionSearch mb-5">
    <h3>Trouver en un clique le meilleur trajet pour vous</h3>
    <h5 class="mb-5">Quelle que soit votre destination, il y a un covoiturage pour vous y amener à moindre coût.</h5>
    <div class="searching container ">
        <div class="add1">
            <div>
                <!-- lieu de depart -->
                <h3>Lieu de départ</h3>
                <select name="" id="depart">
                    <option value="" disabled selected>départ:</option>
                    <option value="">dakar</option>
                    <option value="">thies</option>
                    <option value="">ouakam</option>
                    <option value="">keur massar</option>
                </select>
                <br>
            </div>
        
            <!-- icone au milieu -->
            <div>
                <br>
                <i class="bi bi-geo-alt" style="color: #ff5900;"></i>
            </div>
        
            <!-- lieu d'arriver -->
            <div>
                <div>
                    <h3>Lieu d'arriver</h3>
                    <select name="" id="arrivee">
                        <option value="" disabled selected>départ:</option>
                        <option value="">dakar</option>
                        <option value="">thies</option>
                        <option value="">ouakam</option>
                        <option value="">keur massar</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="add1">
            <div>
                <!-- lieu de depart -->
                <h3>Date de départ</h3>
                <input type="date">
                <br>
            </div>
        
            <!-- icone au milieu -->
            <div>
                <br>
                <i class="bi bi-calendar2-week" style="color: #ff5900;"></i>
            </div>
        
            <!-- lieu d'arriver -->
            <div>
                <div>
                    <h3>Heure de départ</h3>
                    <input type="time">
                </div>
            </div>
        </div>
        <!-- bloc de droite pour recherche -->
        <div class="search">
            <i class="bi bi-search" style="color: #fff;"></i>
        </div>
    </div>
</div>
<div class="cardTrajets mb-5 container">
    <div class="trajet">
        <div class="chauffeur">
            <img src="../../../assets/p1.png" alt="">
            <p>Amadou Ndiaye</p>
        </div>
        <hr>
        <div class="infosTrajet">
            <div class="lieu">
                <p class=" mb-1 mt-1">
                    <i class="bi bi-car-front-fill" style="color: #ff5900;"></i> Dakar-pikine
                </p>
            </div>
            <div class="date">
                <p class=" mb-1 mt-1">
                    <i class="bi bi-calendar4-week" style="color: #ff5900;"></i> 10janvier-14:00
                </p>
            </div>
        </div>
        <hr>
        <div class="details mb-3">
            <span class="gauche">prix: 1000 FCA</span>
            <span class="droite"><i class="bi bi-people-fill"></i> 3 places disponibles</span>
        </div>
        <div class="autreDetails">
            <span>Voir profil <i class="bi bi-arrow-right-circle-fill"></i></span>
            <button class="btn reserver">Reserver une place</button>
        </div>
    </div>
    <div class="trajet">
        <div class="chauffeur">
            <img src="../../../assets/p1.png" alt="">
            <p>Amadou Ndiaye</p>
        </div>
        <hr>
        <div class="infosTrajet">
            <div class="lieu">
                <p class=" mb-1 mt-1">
                    <i class="bi bi-car-front-fill" style="color: #ff5900;"></i> Dakar-pikine
                </p>
            </div>
            <div class="date">
                <p class=" mb-1 mt-1">
                    <i class="bi bi-calendar4-week" style="color: #ff5900;"></i> 10janvier-14:00
                </p>
            </div>
        </div>
        <hr>
        <div class="details mb-3">
            <span class="gauche">prix: 1000 FCA</span>
            <span class="droite"><i class="bi bi-people-fill"></i> 3 places disponibles</span>
        </div>
        <div class="autreDetails">
            <span>Voir profil <i class="bi bi-arrow-right-circle-fill"></i></span>
            <button class="btn reserver">Reserver une place</button>
        </div>
    </div>
    <div class="trajet">
        <div class="chauffeur">
            <img src="../../../assets/p1.png" alt="">
            <p>Amadou Ndiaye</p>
        </div>
        <hr>
        <div class="infosTrajet">
            <div class="lieu">
                <p class=" mb-1 mt-1">
                    <i class="bi bi-car-front-fill" style="color: #ff5900;"></i> Dakar-pikine
                </p>
            </div>
            <div class="date">
                <p class=" mb-1 mt-1">
                    <i class="bi bi-calendar4-week" style="color: #ff5900;"></i> 10janvier-14:00
                </p>
            </div>
        </div>
        <hr>
        <div class="details mb-3">
            <span class="gauche">prix: 1000 FCA</span>
            <span class="droite"><i class="bi bi-people-fill"></i> 3 places disponibles</span>
        </div>
        <div class="autreDetails">
            <span>Voir profil <i class="bi bi-arrow-right-circle-fill"></i></span>
            <button class="btn reserver">Reserver une place</button>
        </div>
    </div>
    <div class="trajet">
        <div class="chauffeur">
            <img src="../../../assets/p1.png" alt="">
            <p>Amadou Ndiaye</p>
        </div>
        <hr>
        <div class="infosTrajet">
            <div class="lieu">
                <p class=" mb-1 mt-1">
                    <i class="bi bi-car-front-fill" style="color: #ff5900;"></i> Dakar-pikine
                </p>
            </div>
            <div class="date">
                <p class=" mb-1 mt-1">
                    <i class="bi bi-calendar4-week" style="color: #ff5900;"></i> 10janvier-14:00
                </p>
            </div>
        </div>
        <hr>
        <div class="details mb-3">
            <span class="gauche">prix: 1000 FCA</span>
            <span class="droite"><i class="bi bi-people-fill"></i> 3 places disponibles</span>
        </div>
        <div class="autreDetails">
            <span>Voir profil <i class="bi bi-arrow-right-circle-fill"></i></span>
            <button class="btn reserver">Reserver une place</button>
        </div>
    </div>
</div>
<div class="pagination mb-5">
    <i class="bi bi-arrow-left-circle-fill me-2"></i>
    <i class="bi bi-arrow-right-circle-fill"></i>
</div>
<app-footer></app-footer>