.banniere img {
    width: 100%;
    height: 32rem;
}

h3 {
    color: #FA7436;
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}

h5 {
    color: #444;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-align: center;
}
.searching{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
    border-radius: 0px 50px 50px 50px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);
    padding: 20px;
    width: 1080px;
    height: 154px;
}
 .add1,
 .add2 {
     background-color: #fff;
     box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
     width: 38%;
     height: 6rem;
     border-radius: 8px;
 }
.add1 {
    display: flex;
    gap: 2.5rem;
    /* place-items: center; */
    padding: 12px;
    justify-content: center;
}
.search {
    font-size: 2rem;
    background-color: #ff5900;
    height: 50px;
    width: 50px;
    padding: 4%;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cardTrajets{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.infosTrajet{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 6px;
}
.trajet{
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 25px;
    padding: 15px;
}
.chauffeur {
    margin: 0 auto; 
    display: grid;
    justify-content: center;
    align-items: center;
}
.chauffeur p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    padding-top: 14px;
}
.trajet p{
    text-align: center;
}
.lieu,.date{
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.details,.autreDetails{
    display: flex;
    justify-content: space-around;
}
.reserver{
    border-radius: 5px;
    border: 1px solid  #FA7436;
    background: #FFF;
    color: #FA7436;
    display: inline-flex;
    align-items: center;
}
.gauche{
    color: #000;
    font-family: popins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.droite {
    color: #000;
    font-family: popins;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 0px 12px;
}
.pageActuelle{
    color: #FA7436;
}






/* resposivité */

@media(max-width:700px) {
    .banniere img {
        height: 20rem;
    }
    .searching {
        display: flex;
        flex-direction: column;
    }
    .cardTrajets {
        display: grid;
        grid-template-columns: 1fr;
    }
    .trajet{
        width: 100%;
    }
    .infosTrajet {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (min-width: 700px) and (max-width:1100px) {
    .banniere img {
        height: 20rem;
    }
    .searching {
        display: flex;
        flex-direction: column;
    }
    .cardTrajets {
        display: grid;
        grid-template-columns: 1fr;
    }
}
