.dashbord {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}


.containerReseau .card {
    border-radius: 0;
    min-height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


/* Recherche réseaux  */
.ligneReseauSearch input {
    border-right-color: white;
}

.ligneReseauSearch .iconesearch {
    background-color: white;
    border-left-color: white;
    color: var(--base2);
}

/* le tableau  */
thead tr th {
    background-color: #222;
    color: white;
}

.btnAction {
    border: 1px solid #FA7436;
    background-color: white;
    color: #FA7436;
}

.btnReseaux {
    padding: 0 8.5vh;
}

.btn {
    background-color: var(--base1);
    color: white;
    font-weight: bold;
}

.titre {
    color: #FA7436;
}


/* pagination  */
.pageActuelle {
    color: #FA7436;
    font-weight: bold;
    border: 1px solid #FA7436;
    padding: 4px;

}


.btnColor {
    color: #222;
    border: 1px solid #222;
    background-color: white;
}

.page {
    background-color: white;
    border: none;
}