<div class="dashbord">
    <div class="section sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="section">
        <!-- Le navbar  -->
        <app-navbar></app-navbar>

        <!-- Contenu dashbord  -->
        <div class="container containerReseau mb-5">
            <div class="row px-5">
                <!-- Liste des réseaux  -->
                <div class="col-md-12 px-4">
                    <div class="card px-4 py-2 pt-4 shadow-sm rounded-4">
                        <!-- Recherhcer une ligne  -->
                        <div class="row sectionEspace ligneReseauSearch mb-3">
                            <div class="col-md-7">
                                <h3 class="fw-bold">Messages reçues</h3>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <!-- <input type="text" name="search" class="form-control" [(ngModel)]="filterValue" (input)="onSearch()"> -->
                                    <input type="text" name="search" class="form-control" [(ngModel)]="filterValue"
                                        (input)="onSearch()" placeholder="Rechercher ......">
                                    <button class="iconesearch input-group-text"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </div>

                        <!-- Le tableau des réseaux -->
                        <table class="table table-responsive mb-4">
                            <thead>
                                <tr>
                                    <th scope="col">Nom Complet</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Message</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let message of getItemsPage()">
                                <tr>
                                    <td>{{message.nomComplet}}</td>
                                    <td>{{message.email}}</td>
                                    <td>{{message.contenue}}</td>
                                    <td>
                                        <button class="btnAction px-2 py-1 rounded-2 me-4" title="réponse"
                                            data-bs-toggle="modal" data-bs-target="#sendSms" (click)="chargerInfos(message)">
                                            Réponse 
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Pagination  -->
                        <div *ngIf="getItemsPage().length">
                            <div class="d-flex justify-content-end mb-2">
                                <button class="rounded-2 btnColor  mx-2" [disabled]="pageActuelle === 1"
                                    (click)="pageActuelle = pageActuelle - 1">
                                    <i class="bi bi-caret-left-fill fs-4"></i>
                                </button>
                                <button class=" mx-2 page" *ngFor="let page of pages" (click)="pageActuelle = page">
                                    <span class="pageActuelle fs-5" *ngIf="page===pageActuelle">{{page}}</span>
                                    <span *ngIf="page != pageActuelle">{{page}}</span>
                                </button>
                                <button class="rounded-2 btnColor mx-2" [disabled]="pageActuelle === totalPages"
                                    (click)="pageActuelle = pageActuelle + 1">
                                    <i class="bi bi-caret-right-fill fs-4"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Send message -->
<div class="modal fade" id="sendSms" tabindex="-1" aria-labelledby="sendSmsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" *ngIf="CurrentItem">
            <div class="modal-header">
                <h1 class="modal-title fs-5 titre" id="sendSmsLabel">Répondre à {{CurrentItem.nomComplet}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 ">
                    <label for="exampleInputEmail1" class="form-label">Emai</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="mail" [(ngModel)]="mail" aria-describedby="emailHelp">
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"
                        name="message" [(ngModel)]="message"></textarea>
                    <label for="floatingTextarea2">message</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                        style="height: 100px" name="contenue" [(ngModel)]="contenue"></textarea>
                    <label for="floatingTextarea2">Réponse</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnAjout" (click)="sendReponse()">Envoyer</button>
                <button type="button" class="btn btnClose" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>