<app-header></app-header><br><br>
<div class="banniere mb-5">
    <img src="../../assets/containter.png" alt="">
</div>
<div class="sectionBtnSearch mb-5">
    <h3 class="mb-5">Faite le suivi de vos trajet en toute simplicité</h3>
    <div class="btnSeach container mx-auto">
        <div class="mestrajets">
            <button class="btn" [routerLink]="['/mesTrajets']">Mes Tajets</button>
        </div>
        <div class="reservation">
            <button class="btn"[routerLink]="['/reservation']" >Reservations</button>
        </div>
        <div class="historique">
            <button class="btn" [routerLink]="['/historique']">Historiques</button>
        </div>
    </div>
</div>
<div class="rechercheArticles mb-5 container">
    <div class="nbrArticles">
        <p>6 trajets</p>
    </div>
    <div class="zoneArticles">
        <div class="champRecherche">
            <input type="search" name="" id="searchInput" placeholder="Recherche un trajet">
        </div>
        <div class="btnRecherche">
            <button><i class="bi bi-search"></i></button>
        </div>
    </div>
</div>
<div class="cardTrajets mb-5 container">
    <div class="trajet" *ngFor="let trajet of getItemsPage()">
        <ng-container *ngIf="trajet.prenom=='Astou' && trajet.nom=='Diouf'">
            <div class="chauffeur">
                <img [src]="trajet.profil" alt="" class="rounded-circle" style="height: 130px; width: 130px;">
                <p> {{trajet.prenom}} {{trajet.nom}}</p>
            </div>
            <hr>
            <div class="infosTrajet">
                <div class="lieu">
                    <p class=" mb-1 mt-1">
                        <i class="bi bi-car-front-fill" style="color: #ff5900;"></i>
                        {{trajet.depart}}-{{trajet.arriver}}
                    </p>
                </div>
                <div class="date">
                    <p class=" mb-1 mt-1">
                        <i class="bi bi-calendar4-week" style="color: #ff5900;"></i>
                        {{trajet.date}}-{{trajet.heure}}
                    </p>
                </div>
            </div>
            <hr>
            <div class="details mb-3">
                <span class="gauche">{{trajet.prix}} FCA</span>
                <span class="droite"><i class="bi bi-people-fill"></i> {{trajet.place}} places disponibles</span>
            </div>
            <div class="autreDetails">
                <span data-bs-toggle="modal" data-bs-target="#profilChauffeur" style="cursor: pointer;">Voir profil <i class="bi bi-arrow-right-circle-fill"></i></span>
                <button class="btn reserver" data-bs-toggle="modal" data-bs-target="#detailTrajet">Détails</button>
            </div>
        </ng-container>
        
    </div>
</div>
<!-- Pagination  -->
<div class="pagination mb-5" *ngIf="getItemsPage().length">
    <div class="d-flex justify-content-end mb-2">
        <button class="rounded-2 btnColor  mx-2" [disabled]="pageActuelle === 1"
            (click)="pageActuelle = pageActuelle - 1">
            <i class="bi bi-arrow-left-circle-fill me-2"></i>
        </button>
        <button class=" mx-2 page" *ngFor="let page of pages" (click)="pageActuelle = page">
            <span class="pageActuelle fs-5" *ngIf="page===pageActuelle">{{page}}</span>
            <span *ngIf="page != pageActuelle">{{page}}</span>
            <!-- {{ page }} -->
        </button>
        <button class="rounded-2 btnColor mx-2" [disabled]="pageActuelle === totalPages"
            (click)="pageActuelle = pageActuelle + 1">
            <i class="bi bi-arrow-right-circle-fill"></i>
        </button>
    </div>
</div>
<app-footer></app-footer>

<!-- Modal détails projet -->
<div class="modal fade" id="detailTrajet">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold titre">Détails Trajet</h1>
                <button type="button" class="btn-close fond-bleu text-light" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <div class="row">
                    <div class="col-12 col-md-3">
                        <img src= "https://i.pinimg.com/236x/ec/01/8e/ec018ee761344a3248fe013ba6048aa9.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-12 col-md-9 p-2">
                        <h4 class=""> Astou Diouf</h4>
                        <div class="w-100">
                            <p>pikine-Yoff</p>
                            <p> pour le 02/02:2024 à 7:30</p>
                            <p>3 places disponibles</p>
                        </div>
                    </div>
                </div>
                <div class="traitL my-2"></div>
                <div class="row mt-2">
                    <div class="col-12 col-md-4">
                        <button class=" btn btnAjout">Modifier</button>
                    </div>
                    <div class="col-12 col-md-4">
                        <button class="btn btnAjout">Annuler</button>
                    </div>
                    <div class="col-12 col-md-4">
                        <button class="btn btnAjout">Reporter</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnClose  fw-bold" data-bs-dismiss="modal">Fermer</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<!-- Modal détails Chauffeur -->
<div class="modal fade" id="profilChauffeur">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold titre">Profil Chauffeur</h1>
                <button type="button" class="btn-close fond-bleu text-light" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <img src="https://img.freepik.com/premium-photo/pink-small-sports-car-coupe-3d-rendering_101266-10050.jpg?w=826"
                            class="img-fluid" alt="">
                    </div>
                    <div class="col-12 col-md-9 p-2">
                        <img src="https://i.pinimg.com/236x/ec/01/8e/ec018ee761344a3248fe013ba6048aa9.jpg" class="rounded-circle" style="width: 40px; height: 40px;">
                        <h4 class=""> Astou Diouf <br></h4>
                        <span>Chauffeur</span>
                        <div class="w-100 sta mt-2">
                            <span>262<br>Trajets</span>
                            <span class="separation">262<br>Trajets</span>
                            <span>262<br>Trajets</span>
                        </div>
                    </div>
                </div>
                <div class="traitL my-2"></div>
                <div class="row mt-2">
                    <div class="col-12 col-md-6">
                        <h4>Commentaires</h4>
                    </div>
                    <div class="col-12 col-md-6">
                        <button class="btn btnAjout">Commenter</button>
                    </div>
                </div>
                <div class="row mt-2 overflow-y-scroll" style="height: 20vh;">
                    <div class="col-12  commentaire" >
                        <div class="image me-2">
                            <img src="https://img.freepik.com/free-photo/portrait-attractive-dark-skinned-student-wearing-checkered-shirt-with-confident-joyful-expression-standing-chalkboard-wall_273609-5907.jpg?size=626&ext=jpg&uid=R109978541&ga=GA1.2.1650161440.1694444933&semt=ais" class="rounded-circle"
                                style="width: 40px; height: 40px;">
                        </div>
                        <div class="textCom">
                            <h6>nom user</h6>
                            <p>commentaire que l'utilisateur à écris</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnClose  fw-bold" data-bs-dismiss="modal">Fermer</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>