<app-header></app-header>
<div class="container mb-5">
    <h4 class="mb-3 fondTitre">Politique de Confidentialité</h4>
    <p>Bienvenue sur àndandoo, votre compagnon de voyage. La protection de vos informations personnelles est essentielle pour
    nous. Cette politique de confidentialité vise à expliquer comment nous collectons, utilisons, divulguons et sécurisons
    vos données. Nous vous encourageons à lire attentivement ces informations afin de comprendre nos pratiques et de prendre
    des décisions éclairées sur votre vie privée.</p>
    <p class="para">1. Informations Collectées :</p>
    <ul>
        <li>Nous collectons les informations que vous fournissez volontairement lors de l'inscription, de la création de profil, ou
        de l'utilisation de nos services.</li>
        <li>Les informations collectées peuvent inclure des données personnelles telles que votre nom, adresse, numéro de téléphone,
        adresse e-mail, etc.</li>
        <li>Nous utilisons des cookies et des technologies similaires pour collecter des informations sur votre utilisation de notre
        site web.</li>
    </ul>
    <p class="para">2. Utilisation des Informations :</p>
    <ul>
        <li>Nous utilisons vos informations pour faciliter la mise en relation entre agriculteurs et revendeurs.</li>
        <li>Les informations peuvent être utilisées pour personnaliser votre expérience, améliorer nos services, et vous informer
        des mises à jour importantes.</li>
    </ul>
    <p class="para">3. Partage d'Informations :</p>
    <ul>
        <li>Nous ne vendons, ne louons ni ne partageons vos informations personnelles avec des tiers sans votre consentement, sauf
        dans les cas prévus par la loi.</li>
    </ul>
    <p class="para">4. Sécurité des Données</p>
    <ul>
        <li>Nous mettons en place des mesures de sécurité pour protéger vos informations contre tout accès non autorisé ou
        utilisation abusive.</li>
    </ul>
    <p class="para">5. Vos Droits</p>
    <ul>
        <li>Vous avez le droit d'accéder à vos données personnelles, de les rectifier, de les supprimer, de vous opposer à leur
        traitement, ou de demander leur portabilité.</li>
        <li>Vous pouvez exercer ces droits en nous contactant à [adresse e-mail/contact].</li>
    </ul>
    <p class="para">6. Modifications de la Politique :</p>
    <ul>
        <li>Nous pouvons mettre à jour cette politique de confidentialité. Les modifications seront publiées sur cette page avec une
        date de mise à jour.</li>
    </ul>
</div>
<app-footer></app-footer>
