<div class="dashbord">
    <div class="section sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="section">
        <!-- Le navbar  -->
        <app-navbar></app-navbar>

        <!-- Contenu dashbord  -->
        <div class="container containerReseau mb-5">
            <div class="row px-5">
                <!-- Liste des réseaux  -->
                <div class="col-md-12 px-4">
                    <div class="card px-4 py-2 pt-4 shadow-sm rounded-4">
                        <!-- Recherhcer une ligne  -->
                        <div class="row sectionEspace ligneReseauSearch mb-3">
                            <div class="col-md-7">
                                <h3 class="fw-bold">Listes des conducteurs</h3>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <!-- <input type="text" name="search" class="form-control" [(ngModel)]="filterValue" (input)="onSearch()"> -->
                                    <input type="text" name="search" class="form-control" [(ngModel)]="filterValue"
                                        (input)="onSearch()" placeholder="Rechercher ......">
                                    <button class="iconesearch input-group-text"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </div>

                        <!-- Le tableau des réseaux -->
                        <table class="table table-responsive mb-4">
                            <thead>
                                <tr>
                                    <th scope="col">Profil </th>
                                    <th scope="col">Nom </th>
                                    <th scope="col">Prénom </th>
                                    <th scope="col">Adresse Email </th>
                                    <th scope="col">Téléphone </th>
                                    <th scope="col">Action </th>
                                </tr>
                            </thead>
                             <tbody *ngFor="let conducteur of getItemsPage()">
                            <tr>
                                <td>
                                    <img src="https://img.freepik.com/premium-photo/black-guy-driving-car_53419-3152.jpg?w=740"
                                        class="rounded-circle mb-2" alt="profil" style="width: 40px; height: 40px;">
                                </td>
                                <td>{{conducteur.Nom}}</td>
                                <td>{{conducteur.Prenom}}</td>
                                <td>{{conducteur.Email}}</td>
                                <td>{{conducteur.Telephone}}</td>
                                <td>
                                    <button class="btn btnAction" data-bs-toggle="modal" data-bs-target="#detailUser" titre="détail" (click)="detailConducteur(conducteur.id)" *ngIf="conducteur.BlockerTemporairement==0">Détails</button>
                                    <button class="btn btnAction" *ngIf="conducteur.BlockerTemporairement==1" (click)="activer(conducteur)">Débloquer</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- Pagination  -->
                        <div *ngIf="getItemsPage().length">
                            <div class="d-flex justify-content-end mb-2">
                                <button class="rounded-2 btnColor  mx-2" [disabled]="pageActuelle === 1"
                                    (click)="pageActuelle = pageActuelle - 1">
                                    <i class="bi bi-caret-left-fill fs-4"></i>
                                </button>
                                <button class=" mx-2 page" *ngFor="let page of pages" (click)="pageActuelle = page">
                                    <span class="pageActuelle fs-5" *ngIf="page===pageActuelle">{{page}}</span>
                                    <span *ngIf="page != pageActuelle">{{page}}</span>
                                    <!-- {{ page }} -->
                                </button>
                                <button class="rounded-2 btnColor mx-2" [disabled]="pageActuelle === totalPages"
                                    (click)="pageActuelle = pageActuelle + 1">
                                    <i class="bi bi-caret-right-fill fs-4"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="detailUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fondText fs-5" id="exampleModalLabel">Détail Client</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="details mb-3">
                    <div class="imageProfilUser me-4 p-2">
                        <img src="https://img.freepik.com/premium-photo/black-guy-driving-car_53419-3152.jpg?w=740"
                            class="rounded-circle mt-4" alt="profil" style="width: 140px; height: 140px;">
                    </div>
                    <div class="infosUser">
                        <p><span class="fondText">Nom Complet:</span> {{currentConducteur?.Prenom}} {{currentConducteur?.Nom}}</p>
                        <p><span class="fondText">Adresse email:</span> {{currentConducteur?.Email}}</p>
                        <p><span class="fondText">Téléphone:</span> {{currentConducteur?.Telephone}}</p>
                        <p><span class="fondText">statut :</span> {{currentConducteur?.role}}</p>
                        <p><span class="fondText">Zone :</span> {{currentConducteur?.Zone}}</p>
                    </div>
                </div>
                <div class="evenbtn">
                    <div class="dropdown me-3" >
                        <a class="btn fond-btn  dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Bloquer
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"  (click)="Desactiver(currentConducteur)">temporairement</a></li>
                            <li><a class="dropdown-item" (click)="bloquer(currentConducteur)">définitivement</a></li>
                        </ul>
                    </div>
                    <button class="btn btnAction">Avertissement</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnClose" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>