<app-header></app-header><br><br>
<div class="banniere mb-5">
    <img src="../../assets/containter.png" alt="">
</div>
<div class="sectionBtnSearch mb-5">
    <h3 class="mb-5">Faite le suivi de vos trajet en toute simplicité</h3>
    <div class="btnSeach container mx-auto">
        <div class="mestrajets">
            <button class="btn">Mes Tajets</button>
        </div>
        <div class="reservation">
            <button class="btn">Reservations</button>
        </div>
        <div class="historique">
            <button class="btn">Historiques</button>
        </div>
    </div>
</div>
<div class="sectionSelect mb-5">
    <h5 class="mb-5">Trouver toutes les demandes de reservations pour vos trajets</h5>
    <div class="choice container">
        <select class="form-select me-4 forum" aria-label="Default select example">
            <option selected>Tout</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select me-4 forum" aria-label="Default select example">
            <option selected>Secteur</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <button class="btn  sms ">Recherche</button>
    </div>
   
</div>
<div class="cardReservation mb-5 container">
    <div class="card mb-3 mt-3 carteF">
        <div class="row g-0">
            <div class="col-md-4 espaceImage">
                <img src="https://img.freepik.com/free-photo/front-view-muslim-woman-posing-outdoors_23-2150506619.jpg?size=626&ext=jpg&ga=GA1.1.1650161440.1694444933&semt=ais"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body p-5">
                    <p class="card-text">Prenom : Dieynaba</p>
                    <p class="card-text">Nom : SENE</p>
                    <p class="card-text">Heure : 07h:30</p>
                    <p class="card-text">Date : 10 janvier</p>
                    <p class="card-text">Trajet : Pikine-Yoff</p>
                    <p class="card-text mt-3 mb-3">
                        <button class="btn reserver">Accepter</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mt-3 carteF">
        <div class="row g-0">
            <div class="col-md-4 espaceImage">
                <img src="https://img.freepik.com/free-photo/front-view-muslim-woman-posing-outdoors_23-2150506619.jpg?size=626&ext=jpg&ga=GA1.1.1650161440.1694444933&semt=ais"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body p-5">
                    <p class="card-text">Prenom : Dieynaba</p>
                    <p class="card-text">Nom : SENE</p>
                    <p class="card-text">Heure : 07h:30</p>
                    <p class="card-text">Date : 10 janvier</p>
                    <p class="card-text">Trajet : Pikine-Yoff</p>
                    <p class="card-text mt-3 mb-3">
                        <button class="btn reserver">Accepter</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mt-3 carteF">
        <div class="row g-0">
            <div class="col-md-4 espaceImage">
                <img src="https://img.freepik.com/free-photo/front-view-muslim-woman-posing-outdoors_23-2150506619.jpg?size=626&ext=jpg&ga=GA1.1.1650161440.1694444933&semt=ais"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body p-5">
                    <p class="card-text">Prenom : Dieynaba</p>
                    <p class="card-text">Nom : SENE</p>
                    <p class="card-text">Heure : 07h:30</p>
                    <p class="card-text">Date : 10 janvier</p>
                    <p class="card-text">Trajet : Pikine-Yoff</p>
                    <p class="card-text mt-3 mb-3">
                        <button class="btn reserver">Accepter</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pagination mb-5">
    <i class="bi bi-arrow-left-circle-fill me-2"></i>
    <i class="bi bi-arrow-right-circle-fill"></i>
</div>
<app-footer></app-footer>
