<app-header></app-header><br><br>
<div class="banniere mb-5">
    <img src="../../../assets/banner1.png" alt="">
</div>
<div class="btnFaq container mb-5">
    <h3>Comment pouvons-nous vous aider ?</h3>
    <h5>En tant que passager ou conducteur trouver ici toutes les reponses à votre questions</h5>
    <button class=" passager"  [routerLink]="['/faqP']" >Passager-ère</button>
    <button class=" conducteur" [routerLink]="['/faqC']">Condouteur-rice</button>
</div>
<div class="sectionFaq container mb-5">
    <div class="simplonFaq">
        <h5>Recherche et réservation</h5>
        <div class="question">
            <details>
                <summary><span>Comment effectuer une recherche</span> <span
                        class="arrow">&#9660;</span></summary>
                <p>Pour connaître toutes vos possibilités de trajet, commencez toujours votre recherche en nous indiquant :
                D'où vous partez Où vous allez Votre date de départ et l'heure</p>
            </details>
            <details>
                <summary><span>Comprendre les publications</span> <span
                        class="arrow">&#9660;</span></summary>
                <p>Dans ces annonces, les conducteurs mentionnent généralement leur lieu de départ, leur destination. Les dates et heures de départ sont 
                    spécifiées pour que les passagers potentiels puissent vérifier
                la compatibilité avec leurs propres plans. De plus, le nombre de places disponibles dans le véhicule est indiqué,
                permettant ainsi aux passagers de savoir s'il y a suffisamment de capacité pour répondre à leurs besoins.
                <p>
            </details>
            <details>
                <summary><span>Réserver un covoiturage</span> <span class="arrow">&#9660;</span></summary>
                <p>Pour réserver un covoiturage, commencez avoir un compte. Si vous n'avez
                pas de compte, créez-en un en fournissant vos informations de base. Ensuite, saisissez les détails de votre trajet, y
                compris le lieu de départ, la destination, la date et l'heure souhaitées. La plateforme affichera une liste de
                covoiturages correspondant à vos critères.
                Parcourez les résultats et sélectionnez le covoiturage qui convient le mieux à vos besoins en termes de date, d'heure,
                de lieux de départ et d'arrivée, ainsi que de coût éventuel. Avant de réserver, lisez attentivement les détails de
                l'annonce du conducteur, y compris des informations sur le véhicule et les conditions spécifiques.
               </p>
            </details>
            <details>
                <summary><span>Demandes de réservation : comment ça fonctionne</span> <span
                        class="arrow">&#9660;</span></summary>
                <p>Lorsque vous trouvez un covoiturage qui correspond à vos besoins vous
                avez la possibilité de soumettre une demande de réservation. Après avoir choisi le covoiturage qui vous convient en
                termes de date, d'heure, de lieux de départ et d'arrivée, ainsi que de coût éventuel, vous pouvez entamer le processus
                de réservation.
    
                Une fois que vous avez rempli ces informations, votre demande de réservation est envoyée au conducteur. Le conducteur
                recevra une notification de votre demande et pourra l'accepter. Il est important de noter que la disponibilité du covoiturage n'est confirmée que lorsque le conducteur
                accepte votre demande.</p>
            </details>
            <details>
                <summary><span>Communiquer avec un·e conducteur·rice</span> <span class="arrow">&#9660;</span>
                </summary>
                <p>Chaque application de covoiturage a ses propres règles et politiques en ce qui concerne la communication entre les
                conducteurs et les passagers. Assurez-vous de prendre connaissance de ces politiques et de les respecter. Par exemple,
                certaines applications peuvent interdire les échanges de coordonnées personnelles en dehors de la plateforme, tandis que
                d'autres peuvent encourager la communication directe. Veillez à suivre les règles établies par l'application.</p>
            </details>
        </div>
    </div>
    <div class="simplonFaq">
        <h5>Vos réservations</h5>
        <div class="question">
            <details>
                <summary><span>Comment savoir s’il a accepté</span> <span
                        class="arrow">&#9660;</span></summary>
                <p>Lorsque le conducteur accepte votre demande de covoiturage, vous recevrez généralement une notification sur votre
                téléphone ou dans l'application elle-même. Cette notification peut prendre la forme d'une pop-up, d'un message ou d'une
                icône spécifique indiquant que votre demande a été acceptée.</p>
            </details>
            <details>
                <summary><span>comment faire un retour de trajet</span> <span
                        class="arrow">&#9660;</span></summary>
                <p>Pour faire un retour de trajet, ouvrez l'application et accédez à la section des
                trajets récents. Sélectionnez le trajet concerné et évaluez le conducteur en utilisant le système de commentaire en étant constructif
                et objectif. Une fois que vous avez terminé, soumettez votre retour en cliquant sur le bouton approprié. Vos 
                 commentaires sont essentiels pour maintenir la qualité du service de covoiturage et aider les autres utilisateurs à
                faire des choix éclairés. Si vous avez des difficultés, n'hésitez pas à consulter la documentation de l'application ou à
                contacter le support client pour obtenir de l'aide.
            </p>
            </details>
            <details>
                <summary><span>Que faire si votre voiture n'est pas là ?</span> <span class="arrow">&#9660;</span>
                </summary>
                <p>Si vous avez réservé un covoiturage et que la voiture n'est pas présente au lieu de prise en charge convenu, il y a
                plusieurs mesures que vous pouvez prendre pour résoudre la situation. Tout d'abord, vérifiez attentivement les détails
                de votre réservation, y compris l'heure et le lieu de prise en charge. Assurez-vous que vous êtes au bon endroit et à
                l'heure prévue. Si vous êtes certain d'être au bon endroit et que la voiture n'est pas là, essayez de contacter le
                conducteur via l'application de covoiturage ou par téléphone.
                Cependant, si le conducteur ne se présente pas après un certain délai et que vous ne pouvez pas résoudre la situation,
                vous devrez envisager des alternatives de transport, comme réserver un autre covoiturage, utiliser les transports
                publics ou appeler un taxi. N'oubliez pas de signaler l'incident à l'application de covoiturage en fournissant les
                détails de la réservation et en expliquant ce qui s'est passé. Cela leur permettra de prendre les mesures appropriées et
                de vous aider à résoudre le problème.</p>
            </details>
        </div>
    </div>
    <div class="simplonFaq">
        <h5>Paiements, tarifs et remboursements</h5>
        <div class="question">
            <details>
                <summary><span>A quelle momont payer</span> <span class="arrow">&#9660;</span></summary>
                <p>Le paiement est effectué  après la fin de la course.
                Cela signifie que vous pouvez payer directement au conducteur en utilisant de l'argent liquide ou utliser d'autre moyen de payement cela dependra du conducteur.</p>
            </details>
            <details>
                <summary><span>Comment se faire rembourcer</span>
                    <span class="arrow">&#9660;</span></summary>
                <p>Si vous souhaitez demander un remboursement dans le cadre d'une expérience de covoiturage, la première étape consiste à
                contacter le support client de l'application. Vous pouvez généralement le faire via l'application
                elle-même ou en utilisant les coordonnées fournies sur le site web de l'application. Expliquez clairement la raison pour
                laquelle vous souhaitez un remboursement et fournissez tous les détails pertinents, tels que la date et l'heure de la
                course, les informations du conducteur et les problèmes rencontrés. Suivez les instructions du support client pour
                soumettre une demande de remboursement, que ce soit en remplissant un formulaire en ligne ou en envoyant un e-mail
                détaillant votre demande. </p>
            </details>
        </div>
    </div>
</div>
<app-footer></app-footer>